<!-- Iniciar seccion admin -->
<div class=" animate__animated animate__fadeIn loginadmin flex flex-col p-14">
    <div class="flex   flex-col w-full">
        <span class="empresa em font-semibold">Iniciar como admin</span>
        <span class="ruc">Complete los datos para poder ingresar.</span>
        <br>

        <form [formGroup]="form" (ngSubmit)="Login()" class="space-y-4">
            <!-- Usuario -->
            <div class="w-full  relative ">
              <div>
                <input
                formControlName="usuario"
                [class.error]="userInvalid"
                type="text"
                class="py-2 seclect w-full "
                placeholder="Usuario"
                required
              >
              </div>
               
                <span class="absolute top-3 right-4">
                <svg-icon src="assets/img/inicio/dni.svg"></svg-icon>
            </span>
                <span *ngIf='userInvalid' class="errors">Usuario no válido ! </span>
            </div>

            <!-- Contraseña -->
            <div class="w-full  relative">
               <div>
                <input
                formControlName="password"
                [class.error]="passwordInvalid"
                type="password"
                class="py-2 seclect w-full mb-1"
                placeholder="Contraseña"
                required
              >
               </div>
            
                <span class="absolute top-3 right-4">
                <svg-icon src="assets/img/inicio/cod-ubigeo.svg"></svg-icon>
            </span>
                <span *ngIf='passwordInvalid' class="errors"> Contraseña no válida ! </span>
            </div>

            <div class="space-x-3 flex justify-center items-center">
              <button type="button" mat-dialog-close class="btn-cancelar">
                <span class="ml-1">Cancelar</span>
              </button>

              <button type="submit" class="btn-iniciar">

                <span class="ml-1">Iniciar</span>
              </button>
            </div>

        </form>
        <br>
    </div>
</div>
