<header class="section-p  flex flex-row items-center justify-between border-b-1 border-gray-300 py-5 px-2 sm:px-0">
    <div class="flex justify-between w-full sm:justify-start items-center">
        <div class="flex">
            <div class="pers">
                <svg-icon class="w-5 h-5 text-white" src="assets/img/personal/gusuario.svg"> </svg-icon>
            </div>
            <span class="operat font-semibold  ml-2 sm:ml-5">Gestión Usuarios</span>
        </div>
        <span class="operat font-semibold  ml-2 sm:ml-5">( {{ dataSource.data.length }} )</span>
    </div>
    <!-- nuevo -->
    <div class="hidden sm:flex">
        <button (click)="nuevousuario(0,false)" class="btn oneline">
            <span class="ml-1">
                 <span class="font-semibold text-base">+</span> Nuevo</span>
        </button>
    </div>
  
</header>
 <!-- destop -->
<main class="py-6 hidden sm:flex w-full flex-col" style="height: 80vh;">
    <div class="example-container overlay-scrollbar scrollbar-hover overscroll-x-auto rounded shadow animate__animated animate__fadeIn">
        <table mat-table [dataSource]="dataSource" class="font-Poppins">
            <!-- Personal Asignado -->
            <ng-container *ngFor='let col of columns' matColumnDef="{{col.title}}">
                <th mat-header-cell *matHeaderCellDef class="font-semibold whitespace-nowrap">
                  {{ col.title.toUpperCase().includes('ID') || col.title=='fotourl' || col.title=='permisos' ? '': col.title.toUpperCase() }}
                </th>
                <td mat-cell *matCellDef="let element" class="whitespace-nowrap">

                    <div *ngIf='col.title != "acciones" && col.title != "idusuario" && col.title != "idempleado" && col.title != "fotourl" && col.title!="permisos"' class="inline-flex items-center">
                        <div *ngIf='col.title =="empleado"' class="relative figurs z-10">

                            <!-- IMG -->
                            <img *ngIf='element.fotourl != ""' class="h-full w-full rounded-full object-cover bg-cover" src="{{element.fotourl}}" alt="">
                            <!-- LETRA -->
                            <span *ngIf='element.fotourl == ""' class="figurs colrss card-pls text-center text-xl object-cover rounded-full bg-cover">{{element.empleado.substring(0,1)}}</span>

                            <div class="absolute -right-2 bottom-0 h-4 w-4  z-10 bg-azul-500 border-3 border-white rounded-full "></div>
                        </div>
                        <span class="nombsa ml-2">{{ element[col.title]}}</span>
                    </div>

                    <div *ngIf='col.title=="acciones"' class="flex space-x-2 sm:space-x-6 ">
                      <!-- editar -->
                      <button (click)="nuevousuario(element['idusuario'],false)" class="p-2 hover:bg-gray-100 rounded-md">
                          <svg-icon src="assets/img/personal/edit.svg"></svg-icon>
                      </button>
                      <!-- Eliminar -->
                      <button (click)="nuevousuario(element['idusuario'], true)" class="p-2 hover:bg-gray-100 rounded-md">
                          <svg-icon src="assets/img/personal/delete.svg"></svg-icon>
                      </button>
                    </div>

                </td>
            </ng-container>

            <tr class="sticky top-0 z-20 border-b-1 border-gray-700" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator class="font-Poppins" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons> </mat-paginator>
</main>

<!-- movil -->
<main class="w-full  px-2 h-screen" >
     <section *ngFor="let item of ListUser" class="flex sm:hidden w-full py-2" >
        <article  class="flex flex-col w-full" style="background: #FFFFFF;  padding: 12px 10px;  box-shadow: 0px 1px 6px rgba(111, 122, 151, 0.22);  border-radius: 4px;">
            <div class="flex justify-between items-center w-full pb-1">
                <div class="flex items-center">
                    <div class="relative">
                        <!-- IMG -->

                        <div  *ngIf='item.fotourl != ""'  class="figura">
                            <img class="h-full w-full rounded-lg object-cover bg-cover"  src="{{item.fotourl}}" appNotImg>
                        </div>
                        <!-- LETRA -->
                        <div *ngIf='item.fotourl == ""'  class="figura colrs">
                            <span class="card-pl text-center object-cover bg-cover notranslate">{{item.empleado.substring(0,1)}}</span>
                        </div>
                        <div  class="absolute -right-1 bottom-0 h-5 w-5  z-10 bg-azul-500 border-4 border-white rounded-full ">    </div>
                    </div>
                    <div class="py-2 flex flex-col ml-3">
                        <span class="text-xs font-Poppins font-semibold">{{item.empleado}}</span>
                        <span class="card-profesion">{{item.usuario}}</span>                        
                        <span class="card-profesion">{{item.cargo}}</span>                        
                       
                    </div>
                </div>   

                <button mat-icon-button [matMenuTriggerFor]="opciones" style="border: 1px solid rgba(128, 128, 128, 0.212);">
                    <mat-icon>more_vert</mat-icon>
                </button>

                  <mat-menu #opciones="matMenu" >
                    <button  (click)="nuevousuario(item.idusuario,false)"  mat-menu-item class="px-8">
                        <mat-icon>create</mat-icon>
                      <span class="text-sm font-Poppins -ml-2">Editar</span>
                    </button>
                    <button  (click)="nuevousuario(item.idusuario,true)"  mat-menu-item class="px-8">
                        <mat-icon>delete</mat-icon>
                      <span class="text-sm font-Poppins -ml-2">Eliminar</span>
                    </button>             
                  </mat-menu>
            </div>
        </article>
    </section>
</main>



<div class="fixed bottom-5 right-2 flex sm:hidden">
    <button mat-fab (click)="nuevousuario(0,false)"    style="background: #0044EA !important;" >
        <mat-icon>add</mat-icon>
    </button>
</div>
