th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.figura{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
