<div class="items-center font-Poppins bg-plomo-40 h-screen">

    <!-- head - cabezera -->
    <div class="flex items-center relative w-full md:justify-between justify-center  py-5 xl:px-20 md:px-7 px-2 ">
        <div class="flex md:justify-start justify-center ">
            <img class="object-contain 2xl:w-36 w-32" src="assets/img/login/asisted.svg" alt="">
        </div>
        <div class="md:flex hidden md:justify-start justify-center ">
            <a href="https://innovated.pe/#/home" target="_blank" class="md:flex hidden ir-inova object-contain 2xl:px-10  font-grande  lg:px-7 lg:py-2 px-4 py-1 border-2 text-azul-500 hover:bg-blue-50 rounded-md border-azul-500   items-center justify-center"> Ir a Innovated </a>
        </div>
    </div>

    <!-- body - cuerpo -->
    <section class="xl:px-20 md:px-7 px-2   md:py-6 py-0 ">
        <div class=" h-full  flex items-center  alturalogin ">
            <div class="flex  md:space-y-0 space-y-6 md:flex-row flex-col lg:pt-0 2xl:mt-0 lg:mt-1 mt-5  space-x-0  justify-between lg:w-full lg:h-full items-center ">
                <div class="2xl:w-9/12 xl:w-8/12  lg:w-8/12 w-full md:mt-0 mt-10 flex justify-center">
                    <img class="object-contain 2xl:w-4/6 xl:w-5/6 md:w-full w-3/6 " src="assets/img/login/asis.svg" alt="">
                </div>
                <div class="2xl:w-3/12 xl:w-4/12 lg:w-4/12 w-full">
                    <section class="w-full  rounded-md   2xl:pr-0  bg-white shadow-2xl border-8 border-plomo-50 lg:pb-16 lg:pt-14 pb-9 pt-6 ">
                        <div class="flex justify-start font-grande text-xl text-oscuro-600 text-azul-800 px-5 pt-5 2xl:py-3 2xl:px-10 xl:px-12 w-full py-2"><img src="assets/img/login/mano.svg" alt=""></div>
                        <p class="flex justify-start font-grande text-xl msg-bienvenido text-oscuro-600 text-azul-800 px-5 pt-5 2xl:py-3 2xl:px-10 xl:px-12 w-full py-2">Hola, <br> Bienvenido a AsisTED</p>
                        <form [formGroup]="form" (ngSubmit)="enterOkay()" class=" space-y-4 2xl:py-3 2xl:px-10 xl:px-10 w-full py-4 px-5  ">
                            <!-- N° Ruc -->
                            <div class="relative  w-full focus-within:text-gray-600 text-gray-400">
                                <input  type="number"
                                        class=" left-0 flex pr-4  py-3 text-sm border-1 focus:ring-gray-500 rounded-sm focus:border-azul-800 w-full  border-gray-300  focus:outline-none shadow text-gray-600"
                                        [class.error]="rucInvalid"
                                        placeholder="N° de Ruc"
                                        required
                                        formControlName="ruc"
                                        >
                                <div class="absolute top-4 pl-3 right-3 flex">
                                    <svg class="object-contain w-5" viewBox="0 0 14 14" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 0C4.54682 0 2.54545 1.91435 2.54545 4.26087C2.54545 5.70896 3.31545 6.99026 4.47427 7.76087C1.862 8.736 0 11.1708 0 14H1.27273C1.27273 11.323 3.30336 9.08539 5.96591 8.6167L6.36364 9.73913H7.63636L8.03409 8.6167C10.6966 9.08539 12.7273 11.323 12.7273 14H14C14 11.1708 12.138 8.736 9.52573 7.76087C10.6839 6.99026 11.4545 5.70896 11.4545 4.26087C11.4545 1.91435 9.45318 0 7 0ZM7 1.21739C8.76464 1.21739 10.1818 2.57296 10.1818 4.26087C10.1818 5.94878 8.76464 7.30435 7 7.30435C5.23536 7.30435 3.81818 5.94878 3.81818 4.26087C3.81818 2.57296 5.23536 1.21739 7 1.21739ZM6.36364 10.3478L5.72727 14H8.27273L7.63636 10.3478H6.36364Z" />
                                    </svg>
                                </div>
                                <small *ngIf="rucInvalid" class="flex items-center animated fadeIn font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"> Campo no válido ! </small>
                            </div>


                            <!-- Codigo de Acceso -->
                            <div class="relative  w-full focus-within:text-gray-600 text-gray-400">
                                <input  type="password"
                                        class="left-0 flex pr-4  py-3 text-sm border-1 focus:ring-gray-500 rounded-sm focus:border-azul-500 w-full  border-gray-300  focus:outline-none shadow text-gray-600"
                                        [class.error]="codeInvalid"
                                        placeholder="Código de acceso"
                                        required
                                        formControlName="codigoacceso"
                                        >
                                <div class="absolute top-4 pl-3 right-3 flex">
                                    <svg class="object-contain w-5" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 3.625V2.75C1 2.28587 1.18437 1.84075 1.51256 1.51256C1.84075 1.18437 2.28587 1 2.75 1H4.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M1 12.375V13.25C1 13.7141 1.18437 14.1592 1.51256 14.4874C1.84075 14.8156 2.28587 15 2.75 15H4.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M11.5 1H13.25C13.7141 1 14.1592 1.18437 14.4874 1.51256C14.8156 1.84075 15 2.28587 15 2.75V3.625" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M11.5 15H13.25C13.7141 15 14.1592 14.8156 14.4874 14.4874C14.8156 14.1592 15 13.7141 15 13.25V12.375" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M1.875 7.125H2.75V8.875H1.875V7.125Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M6.25 7.125V8.875" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9.75 7.125H10.625V8.875H9.75V7.125Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M14.125 7.125V8.875" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <small *ngIf="codeInvalid" class="flex items-center animated fadeIn font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"> Campo no válido ! </small>
                            </div>

                            <!-- Alert -->
                            <!-- <div class=" flex bg-red-600 items-center justify-center content-center w-auto text-white  py-1 font-medium   animated fadeIn" role="alert">
                                <div class="flex w-12">
                                    <img class="w-full h-full" src="https://i.imgur.com/a1fyRka.gif" alt="">
                                </div>
                                <div class="flex w-full text-xs  justify-center px-2 ">Al parecer a ocurrido un error al validar tus datos. Intentalo nuevamente</div>
                            </div> -->

                            <!-- Boton ingresar -->
                            <div class="flex items-center pt-7 xl:pt-9">
                                <button type="submit" class="bg-azul-500 text-white hover:bg-blue-700  text-sm focus:outline-none w-full px-5 py-3 rounded flex  items-center">
                                    <span class="flex justify-center w-11/12 text-sm font-grande">Ingresar</span>
                                </button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </section>

    <!-- foot - pie -->
    <footer class="fixed bottom-0 w-full 2xl:mt-0 lg:mt-12 mt-20  ">
        <svg class="w-full h-full  " viewBox="0 0 1440 69" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.1" fill-rule="evenodd" clip-rule="evenodd" d="M0 7.17345L48 14.9018C96 22.6301 192 38.0867 288 38.0867C384 38.0867 480 22.6301 576 12.3257C672 2.02124 768 -3.13097 864 2.02124C960 7.17345 1056 22.6301 1152 30.3584C1248 38.0867 1344 38.0867 1392 38.0867H1440V69H1392C1344 69 1248 69 1152 69C1056 69 960 69 864 69C768 69 672 69 576 69C480 69 384 69 288 69C192 69 96 69 48 69H0V7.17345Z" fill="#0099FF"/>
        </svg>
        <p class="w-full absolute lg:bottom-4 bottom-0  text-azul-800 font-grande flex justify-center 2xl:text-base text-center md:text-sm text-xs">© 2020 Innovated. Todos los derechos reservados.</p>
    </footer>

</div>
