.tabs-users {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12.5px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
}

.tabs-usersactive {
    color: #0D53FD;
    border-bottom: 3px solid #0D53FD;
    border-radius: 2px;
}

tabs-usersinactive {
    color: #000000;
}