<main style="height: 100vh;">
    <div class="shadow-2xl  border-b-1 border-plomo-50">
        <app-navbarweb></app-navbarweb>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</main>