<div class="flex items-end justify-end px-2 py-2">
    <button matDialogClose>
        <svg-icon src="assets/img/personal/close.svg"> </svg-icon>
    </button>
</div>

<div class="px-14 py-3">
    <div class="fle flex-col flex items-center justify-center">
        <img class="h-32" src="assets/img/components/delete.png" alt="">
        <span class="dle">¿Está seguro de &nbsp;<span class="text-azul-500">Salir de {{ data.operacion }}</span> ?</span>
        <span class="subdle">Puedes cancelar esta accion si no deseas salir.</span>
    </div>
    <section class="flex justify-center items-center space-x-3 py-3">
        <!-- cancelar -->
        <button matDialogClose type="button" class="btn-">           
            <span class="ml-1">Cancelar</span>
        </button>
        <!-- guardar -->
        <button (click)="continuar()" type="button" class="btn oneline">
            <span class="ml-1"> Sí, Salir</span>
        </button>
    </section>
</div>