<header class="flex items-center sm:justify-between w-full px-4 py-3">
    <button matDialogClose class="flex md:hidden mr-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
          </svg>
    </button>
    <span class="perss">Nuevo Horario</span>
    <div class=" hidden md:flex">
        <button type="button" matDialogClose class="focus:outline-none">
            <svg-icon class="w-5 h-5" src="assets/img/personal/close.svg"> </svg-icon>
        </button>
    </div>
 
</header>
<main class="w-full sm:px-4">
    <ul class="flex mb-0 list-none flex-wrap pt-3 sm:pb-4 flex-row px-4 sm:px-8">
        <li class=" mr-2 last:mr-0 flex text-center space-x-4 sm:space-x-10">
            <a  [class.not-active]="this.detallehorario.invalid && openTabUsers != 'MAÑANA'" class="tabs-users cursor-pointer" (click)="tabsUsers('MAÑANA')"
                [ngClass]="{'tabs-usersinactive': openTabUsers !== 'MAÑANA', 'tabs-usersactive transition duration-300  ease-in animate__animated ': openTabUsers === 'MAÑANA'}">
                <span class="ml-2">Mañana</span>
            </a>
            <a  [class.not-active]="this.detallehorario.invalid && openTabUsers != 'TARDE'" class="tabs-users cursor-pointer" (click)="tabsUsers('TARDE')"
                [ngClass]="{'tabs-usersinactive': openTabUsers !== 'TARDE', 'tabs-usersactive transition duration-300  ease-in animate__animated ': openTabUsers === 'TARDE'}">
                <span class="ml-2">Tarde</span>
            </a>
            <a [class.not-active]="this.detallehorario.invalid && openTabUsers != 'NOCHE'" class="tabs-users cursor-pointer" (click)="tabsUsers('NOCHE')"
                [ngClass]="{'tabs-usersinactive': openTabUsers !== 'NOCHE', 'tabs-usersactive transition duration-300  ease-in animate__animated ': openTabUsers === 'NOCHE'}">
                <span class="ml-2">Noche</span>
            </a>
        </li>
    </ul>


    <!-- Permisos -->
    <fieldset [disabled]="data.justWatch" class="animate__animated animate__fadeIn py-2 2xl:h-full">
        <form [formGroup]="form" (ngSubmit)="saveTimeTable()" class="py-5 px-4">
            <!-- Nombre -->
            <div class="w-full sm:mb-1">
                <input type="text" class="py-2 seclect w-full mb-1" [class.error]="denominacionInvalid"
                    placeholder="Asigne un Nombre" required formControlName="denominacion">
                <span *ngIf="denominacionInvalid" class="text-red-700 text-xs italic"> Por favor rellene este campo.
                </span>
            </div>

            <div class="grid  grid-cols-3">
                <span class="font-semibold text-sx  col-span-1 font-Poppins pb-3">Día</span>
                <span class="font-semibold text-sx hidden sm:flex col-span-2 font-Poppins">Periodo(s)</span>
            </div>

            <section formArrayName="dethorario" class=" overlay-scrollbar  overflow-auto sm:h-[40vh]" >
                <div *ngFor="let control of detallehorario.controls; let i = index;" [formGroupName]="i" class="px-4">
                    <section *ngIf="openTabUsers === valueHorario(i, 'turno') "
                        class="grid grid-cols-3 items-center">
                        <div class="flex flex-col items-start col-span-1 ">
                            <mat-checkbox (change)="changeDay($event.checked, i)"
                                [checked]="this.detallehorario.controls[i].get('status')?.value"
                                class=" font-medium font-Poppins text-xs  py-1">{{ valueHorario(i, 'dia') }}
                            </mat-checkbox>
                        </div>

                        <!-- entryTimeInvalid($event.target, i, indexHora ) -->
                        <div class="flex  items-start col-span-2  animate__animated animate__fadeIn ">
                            <fieldset [disabled]="!this.detallehorario.controls[i].get('status')?.value" formArrayName="dethora" class="flex items-center whitespace-nowrap sm:space-x-4 py-2">
                                <section class=" animate__animated animate__fadeIn space-y-1" *ngFor="let itemhora of detallehora(i).controls; let indexHora = index;" [formGroupName]="indexHora">
                                    <input (input)="timeInvalid(i)" type="time" placeholder="08:00 AM"
                                        class="border font-Poppins text-xs px-2  mr-2  border-gray-300 rounded py-1 focus:outline-none focus disabled"
                                        [class.error]="detallehora(i).at(indexHora).get('horainicio')?.invalid && detallehora(i).at(indexHora).get('horainicio')?.touched"
                                        formControlName="horainicio">

                                        <!-- departureTimeInvalid($event.target, i, indexHora) -->
                                    <input (input)="timeInvalid(i)" type="time" placeholder="12:00 PM"
                                    class="border font-Poppins text-xs px-2  border-gray-300 mr-2 rounded py-1 focus:outline-none focus disabled"
                                    [class.error]="detallehora(i).at(indexHora).get('horasalida')?.invalid && detallehora(i).at(indexHora).get('horasalida')?.touched"
                                    formControlName="horasalida">
                                </section>
                                <button *ngIf="(this.detallehora(i).length > 1) && (!data.justWatch)" (click)="removeTime(i)" type="button" class="btn-deletes -mb-2 "> x </button>
                                <button 
                                [disabled]="detallehora(i)?.invalid"
                                *ngIf="(this.detallehora(i).length < env.capacityMaxhorario) && (!data.justWatch)"
                                (click)="addTime(i)" type="button" class="btn-hora -mb-2 disabled"> + </button>
                            </fieldset>
                        </div>
                    </section>

                </div>

            </section>


            <div *ngIf="!data.justWatch" class="flex justify-center sm:justify-end col-span-2 space-x-3 pt-7">
                <!-- cancelar -->
                <button type="button" matDialogClose class="btn-">
                    <span class="ml-1">Cancelar</span>
                </button>
                <!-- guardar -->
                <button type="submit" class="btn oneline">
                    <span class="ml-1"> Guardar</span>
                </button>
            </div>
        </form>
    </fieldset>
</main>