.perss {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #1C2B39;
}

.perws {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #1C2B39;
}

.tabs-users {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.tabs-usersactive {
    color: #0D53FD;
    border-bottom: 3px solid #0D53FD;
    border-radius: 2px;
}

tabs-usersinactive {
    color: #000000;
}

.seclect {
    background: #FFFFFF;
    border: 0.7px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6px;
    line-height: 19px;
    color: #000000;
}


/* //cambiar color checkboxk */

:Host /deep/ .mat-checkbox-inner-container {
    height: 17px;
    width: 17px;
}

::ng-deep .mat-checkbox-frame {
    border: 0.5px solid #7D858E;
    box-sizing: border-box;
    border-radius: 2px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #0D53FD!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #0D53FD;
}

.border-chechboxk {
    background: #FFFFFF;
    border: 0.7px solid #c4c4c47a;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 10px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent[_ngcontent-erk-c140] .mat-checkbox-background[_ngcontent-erk-c140] {
    background-color: #0D53FD;
    border-radius: 100% !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent[_ngcontent-erk-c171] .mat-checkbox-background[_ngcontent-erk-c171] {
    background-color: #0D53FD;
    border-radius: 100% !important;
}

.mat-checkbox .mat-checkbox-frame {
    border-color: #c4c4c4;
    border-radius: 100%;
}

.mat-checkbox-checked .mat-checkbox-background {
    background-color: #0D53FD !important;
    border-radius: 100%;
}

.btn-hora {
    width: 36px;
    height: 36px;
    background: rgba(60, 120, 238, 0.1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 12px;
    color: #3C78EE;
}



.overlay-scrollbar::-webkit-scrollbar {
    width: 7px;
    height:7px;
}

.scrollbar-hover::-webkit-scrollbar {
    display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2A3E4B;
    border-radius: 10rem;
    /* border: 1px solid#E7EFF3; */
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: #E7EFF3;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: #E7EFF3;
    border-radius: 10rem;
}

.disabled:disabled,
.disabled[disabled] {
  background-color: rgba(204, 204, 204, 0.555);
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.801);
  cursor: not-allowed;
  pointer-events: none;
}

.not-active {

    opacity: 0.8;
    color: rgba(0,0,0,.26);
    cursor: not-allowed;
    pointer-events: none;
    border-bottom:3px solid  rgba(0,0,0,.26);

}