<header class="flex items-center justify-between w-full px-4 py-3">
    <div class="flex flex-col">
        <span class="pers-title">Nuevo Cargo</span>
        <span class="descr">Aqui podras crear un nuevo cargo</span>
    </div>
    <button type="button" matDialogClose>
        <svg-icon src="assets/img/personal/close.svg"> </svg-icon>
    </button>
</header>

<main class=  " w-full xl:w-100 px-5 py-3">
    <form [formGroup]="form" (ngSubmit)="saveRole()" class="w-full">
        <!-- dni Completo -->
        <div class=" w-full sm:mb-1">
            <input type="text" class=" uppercase py-2 seclect w-full mb-1" [class.error]="cargoInvalid" placeholder="Escribir" required formControlName="cargo">
            <span *ngIf="cargoInvalid" class="errors"> Por favor rellene este campo. </span>
        </div>

        <section class="flex justify-end space-x-3 py-3">
            <!-- reportes -->
            <button mat-dialog-close type="button" class="btn-">           
                <span class="ml-1">Cancelar</span>
            </button>
            <!-- nuevo -->
            <button type="submit" class="btn oneline">
                <span class="ml-1"> Guardar</span>
            </button>
        </section>
    </form>
</main>