<main class="p-5 sm:w-96 flex flex-col items-center justify-center">
    <div class="w-64">
        <img class="w-full h-full" src="assets/img/modal/check.gif" alt="">
    </div>
    <div class="flex flex-col items-center justify-center">
        <span class="asistencia"> Asistencia Guardada</span>
        <span class="recuerda-horario">Recuerda tu horario: 08:30am - 11:00am</span>
    </div>
    <br>
    <button matDialogClose class="oke">OK</button>
</main>