.asistencia {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #13385D;
}

.recuerda-horario {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #7D858E;
}

.oke {
    width: 161px;
    height: 48px;
    left: calc(50% - 141px/2 - 1px);
    top: 558px;
    background: #0D53FD;
    box-shadow: 0px 4px 10px rgba(13, 83, 253, 0.4);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}