<main style="background: #F5F6FA;">
    <app-navbaradmin></app-navbaradmin>
    <div class="xl:container mx-auto  px-1 md:px-3 lg:px-3 xl:px-0">
        <router-outlet></router-outlet>
    </div>
</main>