<main *ngIf="reporteasistencia" class="fixed inset-0  overflow-hidden z-50 ">
    <div class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <div class="absolute inset-y-0 right-0 max-w-full lg:max-w-7xl p-4 bg-white flex transition-colors duration-500 ease-in  animate__animated animate__fadeInRight" aria-labelledby="slide-over-heading">
        <div class="relative w-full h-full overflow-auto">
            <div class="flex items-center w-full  justify-between  py-2">
                <button (click)="reporteAsistencias()" class="salir">
                      <svg-icon src="assets/img/personal/salir1.svg"></svg-icon>
                      <span class="ml-1">Salir</span>
                </button>
                <button (click)="reporteAsistencias()" class="salir">
                      <svg-icon src="assets/img/personal/close.svg"></svg-icon>
              </button>
            </div>
            <section class="py-2 border-b-1 border-gray-200">
                <h1 class="reporasi">Reporte de Asistencia</h1>
                <form [formGroup]="form" (ngSubmit)='ListReport()' class="grid grid-cols-1 sm:grid-cols-5 gap-1 sm:gap-3 sm:gap-x-7 s:gap-y-2">
                    <!-- Nº de documento  -->
                    <div class="w-full sm:mb-1">
                        <label class="labels mb-1 ">Nº de documento</label>
                        <input
                          formControlName='numerodocumento'
                          type="number"
                          class="py-2 seclect w-full mb-1"
                          placeholder="Nº de DNI"
                        >
                        <!-- <span *ngIf='NumeroDocumento' class="errors"> Por favor rellene este campo. </span> -->
                    </div>

                    <!--Personal Operativo -->
                    <div class=" w-full sm:mb-1">
                        <label class="labels mb-1">Personal Operativo</label>
                        <mat-select
                          (selectionChange)='Selectemployee($event.value)'
                          placeholder='seleccione empleado'
                          required
                          class="seclect py-2 mr-2 px-2  font-Poppins"
                          formControlName='idempleado'
                        >
                            <mat-option *ngFor='let item of listEmployee' value="{{item.idempleado}}" class="option-ch">{{item.empleado}}</mat-option>
                        </mat-select>

                        <span *ngIf='IDEmployee' class="errors"> Por favor rellene este campo. </span>
                    </div>
                    <!-- Fecha Inicio -->
                    <div class=" w-full sm:mb-1 relative ">
                        <label class="labels mb-1">Fecha Inicio </label>
                        <input
                          type="text"
                          placeholder="Fecha Inicio"
                          required
                          [matDatepicker]="finicio"
                          class="py-2  seclect w-full "
                          formControlName='fechainicio'
                        >
                        <mat-datepicker #finicio> </mat-datepicker>
                        <button type="button" (click)="finicio.open()" class="absolute top-8  right-2">
                            <svg-icon src="assets/img/personal/caledar.svg"></svg-icon>
                        </button>

                        <span *ngIf='StartDate' class="errors"> Por favor rellene este campo. </span>
                    </div>

                    <!-- Fecha Fin-->
                    <div class=" w-full sm:mb-1 relative ">
                        <label class="labels mb-1">Fecha Fin </label>
                        <input
                          type="text"
                          class="py-2  seclect w-full "
                          placeholder="Fecha Inicio"
                          required
                          [matDatepicker]="fechafin"
                          formControlName='fechafin'
                        >
                        <mat-datepicker #fechafin> </mat-datepicker>
                        <button type="button" (click)="fechafin.open()" class="absolute top-8 right-2">
                            <svg-icon  src="assets/img/personal/caledar.svg"></svg-icon>
                        </button>
                        <span *ngIf='EndDate' class="errors"> Por favor rellene este campo. </span>
                    </div>

                    <!-- btn buscart -->
                    <div class=" w-full pt-2  sm:pt-5">
                        <button type="submit" class="btn oneline">
                            <svg-icon class="w-4 h-4" src="assets/img/personal/search.svg"></svg-icon>
                            <span class="ml-1">Buscar</span>
                        </button>
                    </div>
                </form>
            </section>


            <section  class="grid grid-cols-2 md:grid-cols-5 gap-1 gap-x-5 py-5 border-b-1 border-gray-200">
                <div class="flex items-center col-span-5 sm:col-span-1">
                    <svg-icon class="mr-2" src="assets/img/personal/tipocontrl.svg"></svg-icon>
                    <div class="flex flex-col tipocontrls">
                        <span>Tipo de control</span>
                        <span class="rqs">{{horario}}</span>
                    </div>
                </div>
                <div class="flex items-center col-span-3 sm:col-span-1">
                    <svg-icon class="mr-2" src="assets/img/personal/totalcalendar.svg"></svg-icon>
                    <div class="flex flex-col tipocontrls">
                        <span>Total de Horas Trabajadas</span>
                        <span class="clrs">Horas y/o Minutos</span>
                    </div>
                </div>
                <div class="flex items-center justify-center col-span-2 sm:col-span-1">
                    <div class="flex flex-col tipocontrls dias">
                        <span>{{totalhorastrabajadas}}</span>
                    </div>
                </div>
                <!-- <div class="flex items-center col-span-3 sm:col-span-1">
                    <svg-icon class="mr-2" src="assets/img/personal/faltas.svg"></svg-icon>
                    <div class="flex flex-col tipocontrls">
                        <span>Faltas</span>
                        <span class="clrs">Dias Ausentes</span>
                    </div>
                </div> -->
                <div class="flex items-center justify-between col-span-2 sm:col-span-1">
                    <!-- <div class="flex flex-col tipocontrls dias">
                        <span>1</span>
                    </div> -->
                    <!-- descargar -->
                    <div class="group cursor-pointer relative inline-block hidden sm:flex">
                        <button (click)="exportToExel()" class="descargas focus:outline-none focus:text-white focus:bg-azul-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                              </svg>
                        </button>
                        <div class="opacity-0 w-36 font-Poppins text-white text-center text-xs  py-2 absolute z-10 group-hover:opacity-100 bottom-full -left-1/2 -ml-20 -mt-16  pointer-events-none bg-azul-700">
                            Descargar Reporte
                            <div class="absolute h-6 w-full left-28 text-azul-700 -bottom-5">
                                <svg width="25" height="8" viewBox="0 0 25 8" fill="CurrentColor" xmlns="http://www.w3.org/2000/svg">  <path d="M12.5 8L0.808657 0.5L24.1913 0.5L12.5 8Z" /></svg>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Descargar movil -->
                <div class="w-full col-span-5 flex sm:hidden pt-3">
                    <button (click)="exportToExel()"  class="btn- text-azul-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                          </svg>
                        <span class="ml-1">Descargar</span>
                    </button>
                </div>
            </section>

            <div *ngIf="listreport.length==0" class="flex flex-col pt-10 items-center justify-center">
                <svg-icon src="assets/img/personal/notpersonal.svg"></svg-icon>
                <br>
                <span class="not-prod">No hay ninguna busqueda</span>
                <span class="not-prod col-rs">Realice una nueva busqueda de cada personal operativo y de fechas</span>
            </div>

            <div *ngIf="listreport.length!=0" class="example-container overlay-scrollbar scrollbar-hover overscroll-x-auto">
              <table mat-table [dataSource]="dataSource"  class="font-Poppins">
                <ng-container *ngFor='let column of columsn' matColumnDef='{{column.title}}'>
                  <th mat-header-cell *matHeaderCellDef class="font-semibold whitespace-nowrap"> {{column.title=='totalhoras' ? '' : column.title.toUpperCase()}} </th>

                  <td mat-cell *matCellDef="let element" class="whitespace-nowrap">
                    <div class="inline-flex items-center">
                      <span class="nombsa ml-2">{{ column.title=='totalhoras' ? '' : element[column.title]}}</span>
                    </div>
                  </td>
                </ng-container>

                <tr class="sticky top-0 z-20 border-b-1 border-gray-700" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator *ngIf='verp' class="font-Poppins" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</main>
