th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}



/* //cambiar color checkboxk */

:Host /deep/ .mat-checkbox-inner-container {
    height: 17px;
    width: 17px;
}

::ng-deep .mat-checkbox-frame {
    border: 0.5px solid #7D858E;
    box-sizing: border-box;
    border-radius: 2px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #0D53FD!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #0D53FD;
}

.figura{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


