<main class="w-full min-h-screen  px-2 sm:px-0" >
    <section  class="section-p flex-col flex sm:flex-row items-center  sm:justify-between border-b-1 border-gray-300 py-3 space-y-2">
        <div class="hidden sm:flex items-center w-full">
            <div class="pers">
                <svg-icon class="w-5 h-5 text-white" src="assets/img/confi/personal.svg"> </svg-icon>
            </div>
            <span class="operat ml-2 sm:ml-5 animate__animated animate__fadeIn">Personal Operativo ({{ dataSource.data.length }})</span>
        </div>

        <div class="flex items-center w-full justify-between sm:justify-end  sm:space-x-4">

            <div class="flex sm:hidden"> <span class="operat ml-2 sm:ml-5 text-center animate__animated animate__fadeIn">Personal Operativo ({{ dataSource.data.length }})</span></div>
            <!-- reportes -->
            <button (click)="reporteAsistencia()" class="btn-">
                <svg-icon class="w-6 h-6" src="assets/img/confi/report.svg"></svg-icon>
                <span class="ml-1">Reporte</span>
            </button>
            <!-- nuevo -->
            <div class="hidden sm:flex">
                <button class="btn oneline " (click)="modalPersonal( true )">
                    <span class="ml-1">
                        <span class="font-semibold text-base">+</span> Nuevo</span>
                </button>
            </div>

            <!-- filtrar -->
            <div class="relative inline-block text-left dropdown  animate__fadeIn">
                <button (click)="filtrar = !filtrar" class="btn-fil">
                    <svg-icon class="w-5 h-5" src="assets/img/confi/filtrar.svg"> </svg-icon>
                </button>
                <div *ngIf="filtrar"
                    class="opacity-0 invisible dropdown-menu transition-all  duration-300 transform origin-top-right z-50 relative">
                    <div style="border-radius: 3px;"
                        class="absolute -right-4 filtrar mt-4 origin-top-right bg-white z-50 border dropdownconfiguraci border-1 shadow-2xl border-gray-300 divide-y divide-gray-100   outline-none animate__animated animate__fadeIn"
                        aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
                        <div class="absolute  right-4" style="top: -14px;">
                            <svg width="39" height="15" viewBox="0 0 39 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.1233 1.29906C18.1607 -0.088146 20.8393 -0.0881447 22.8767 1.29906L37.6344 11.3468C39.2617 12.4548 38.4775 15 36.5088 15H2.49122C0.522471 15 -0.26173 12.4548 1.36564 11.3468L16.1233 1.29906Z"
                                    fill="white" />
                            </svg>
                        </div>

                        <div class="overflow-y-auto flex flex-col px-4  mt-4">
                            <label tabindex="0" class="py-2 cursor-pointer font-Poppins" role="menuitem">
                                <div class="flex   space-y-2 flex-col w-full">
                                    <span class="filtrass">FILTROS</span>
                                    <span class="cargo">Cargo</span>
                                    <!-- busqueda -->
                                    <form (keydown.enter)="$event.preventDefault()" [formGroup]="form" (ngSubmit)="filter()" class="w-full font-Poppins">
                                        <div class="relative w-full   hidden justify-center items-center sm:flex ">
                                            <span class="absolute left-2"><img src="assets/img/inicio/lupa.svg"></span>
                                            <input (keyup)="searchFilter(search.value)" (search)="searchFilter(search.value)" #search class="w-full  pl-7  selec py-1  rounded font-Poppins" type="search" placeholder="Buscar">
                                        </div>

                                        <section class=" space-y-2  py-3  flex flex-col pl-2">
                                            <mat-checkbox formControlName="cargo" (change)="changeFill($event.checked, item)" [checked]="item.estado" *ngFor="let item of listCargo" class="lowercase option-ch">{{ item.cargo}}</mat-checkbox>
                                        </section>

                                        <div class=" pt-2 border-t-1 border-gray-200">
                                            <label class="cargo">Horario</label>
                                            <mat-select formControlName="horario" placeholder="Seleccionar" required [class.error]="horarioInvalid" class="selec py-2 px-2 font-Poppins">
                                                <mat-option *ngFor="let item of listHorario" [value]="item" class="lowercase option-ch">{{ item }}</mat-option>
                                            </mat-select>
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <a (click)="clearFilter(); search.value = '' " class="quitar">Quitar Filtros</a>
                                            <button type="submit" class="aplicar">Aplicar</button>
                                        </div>
                                    </form>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <ul class=" hidden sm:flex mb-0 list-none  pt-3 pb-4 flex-row">
                <li class=" mr-2 last:mr-0 flex flex-col sm:flex-row text-center">
                    <a class="tabs" (click)="toggleTabs(1)"
                        [ngClass]="{'inactive1': openTab !== 1, 'tabs-active': openTab === 1}">
                        <svg-icon class="w-4 h-4" src="assets/img/confi/cuadro.svg"></svg-icon>
                    </a>
                    <a class="tabs" (click)="toggleTabs(2)"
                        [ngClass]="{'inactive': openTab !== 2, 'tabs-active': openTab === 2}">
                        <svg-icon class="w-4 h-4" src="assets/img/confi/colun.svg"></svg-icon>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- movil -->
    <section class="flex sm:hidden w-full py-2 pt-3" *ngFor="let item of dataSource.data" >
        <article  class="flex flex-col w-full" style="background: #FFFFFF;  padding: 12px 10px;  box-shadow: 0px 1px 6px rgba(111, 122, 151, 0.22);   border-radius: 4px;">
            <div class="flex justify-between items-center w-full pb-1">
                <div class="flex items-center">
                    <div class="relative">
                        <!-- IMG -->
                        <div *ngIf='item.urlfoto' class="figura">
                            <img class="h-full w-full rounded-lg object-cover bg-cover" [src]="item.urlfoto" appNotImg>
                        </div>

                        <!-- LETRA -->
                        <div *ngIf="!item.urlfoto" class="figura colrs">
                            <span
                                class="card-pl text-center object-cover bg-cover notranslate">{{item.empleado.substring(0,1)}}</span>
                        </div>
                        <div
                            class="absolute -right-1 bottom-0 h-5 w-5  z-10 bg-azul-500 border-4 border-white rounded-full ">
                        </div>
                    </div>
                    <div class="py-2 flex flex-col ml-3">
                        <span class="text-xs font-Poppins font-semibold">{{item.empleado}}</span>
                        <span class="card-profesion">{{item.cargo}}</span>
                         <!-- (click)="horario()" -->
                         <!-- <a disabled *ngIf="!item.cargo"
                         class="flex  cursor-pointer text-xs font-Poppins">
                         <span class="underline text-azul-500">Sin Cargo</span>
                         <svg-icon class="w-4 h-4 ml-1" src="assets/img/personal/sincargo.svg"></svg-icon>
                        </a> -->
                        <span  class="card-profesion">{{item.numerodocumento}}</span>
                    </div>
                </div>

                <button mat-icon-button [matMenuTriggerFor]="menu" style="border: 1px solid rgba(128, 128, 128, 0.212);">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" >
                    <button  (click)="modalPersonal( false, item )" mat-menu-item class="px-8">
                        <mat-icon>create</mat-icon>
                      <span class="text-sm font-Poppins -ml-2">Editar</span>
                    </button>
                    <button  (click)="showdelete(item)" mat-menu-item class="px-8">
                        <mat-icon>delete</mat-icon>
                      <span class="text-sm font-Poppins -ml-2">Eliminar</span>
                    </button>


                  </mat-menu>
            </div>

            <div class="py-1 border-t-1 border-gray-100">
                <!-- con horario -->
                <span class="flex items-center justify-center">
                    <span *ngIf="item.horario" class="horario">Horario:<span class="text-azul-500"> {{
                        item.horario }}</span></span>
                </span>

                <!-- si horrio -->
                <a *ngIf="!item.horario" (click)="horario(item.idempleado)"
                    class="flex items-center cursor-pointer horario justify-center"> <span
                        class="underline text-azul-500">Sin Horario</span>
                    <svg-icon class="w-4 h-4 ml-1" src="assets/img/personal/sincargo.svg"></svg-icon>
                </a>
            </div>

        </article>
    </section>

    <!-- destop -->
    <div class="relative hidden sm:flex flex-col min-w-0 break-words  w-full mb-6  rounded">
        <div class="py-5 flex-auto">
            <div class="tab-content tab-space">
                <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}"
                    class="animate__animated animate__bounceInUp">
                     <section class=" example-container overlay-scrollbar overscroll-x-auto  grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4  gap-2 md:gap-6 2xl:gap-12">
                            <article *ngFor="let item of dataSource.data" class=" flex card  w-full animate__fadeIn">
                                <div class="relative">

                                    <!-- IMG -->
                                    <div *ngIf='item.urlfoto' class="figur">
                                        <img class="h-full w-full rounded-lg object-cover bg-cover" [src]="item.urlfoto" appNotImg>
                                    </div>

                                    <!-- LETRA -->
                                    <div *ngIf="!item.urlfoto" class="figur colrs">
                                        <span
                                            class="card-pl text-center object-cover bg-cover notranslate">{{item.empleado.substring(0,1)}}</span>
                                    </div>
                                    <div
                                        class="absolute -right-2 bottom-2 h-4 w-4  z-10 bg-azul-500 border-2 border-white rounded-full ">
                                    </div>
                                </div>
                                <div class="py-2 flex flex-col space-y-1 items-center">
                                    <span class="card-nombre">{{item.empleado}}</span>
                                    <span class="card-profesion">{{item.cargo}}</span>

                                    <!-- (click)="horario()" -->
                                    <a  (click)="horario(item.idempleado)" *ngIf="!item.cargo"
                                        class="flex items-center cursor-pointer horario justify-center">
                                        <span class="underline text-azul-500">Sin Cargo</span>
                                        <svg-icon class="w-4 h-4 ml-1" src="assets/img/personal/sincargo.svg"></svg-icon>
                                    </a>

                                </div>
                                <div class="card-dni">
                                    <svg-icon src="assets/img/personal/dni.svg"></svg-icon>
                                    <span class="pl-2">{{item.numerodocumento}}</span>
                                </div>

                                <div class="border-gray-100 border-t-1 border-b-1  w-full">
                                    <div class="flex items-center w-full justify-center space-x-10 py-2  sm:px-5">
                                        <button (click)="modalPersonal( false, item )" type="button" class="card-btn">
                                            <svg-icon src="assets/img/personal/edit.svg"></svg-icon>
                                        </button>
                                        <button (click)="showdelete(item)" type="button" class="card-btn">
                                            <svg-icon src="assets/img/personal/delete.svg"></svg-icon>
                                        </button>
                                    </div>

                                </div>
                                <div class="py-3">
                                    <!-- con horario -->
                                    <span *ngIf="item.horario" class="horario">Horario:<span class="text-azul-500"> {{
                                            item.horario }}</span></span>
                                    <!-- si horrio -->
                                    <a *ngIf="!item.horario" (click)="horario(item.idempleado)"
                                        class="flex items-center cursor-pointer horario justify-center"> <span
                                            class="underline text-azul-500">Sin Horario</span>
                                        <svg-icon class="w-4 h-4 ml-1" src="assets/img/personal/sincargo.svg"></svg-icon>
                                    </a>
                                </div>
                            </article>
                    </section>


                </div>

                <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}"
                    class="animate__animated animate__fadeIn">
                    <div class="example-container overlay-scrollbar  overscroll-x-auto">
                        <table mat-table [dataSource]="dataSource" class="font-Poppins">
                            <!-- Nombres Completos -->
                            <ng-container matColumnDef="Nombres Completos">
                                <th mat-header-cell *matHeaderCellDef class="font-semibold whitespace-nowrap"> Nombres
                                    Completos </th>
                                <td mat-cell *matCellDef="let element" class="whitespace-nowrap">
                                    <div class="inline-flex items-center">
                                        <div class="relative figurs z-10">
                                            <!-- IMG -->
                                            <img *ngIf="element.urlfoto"
                                                class="h-full w-full rounded-full object-cover bg-cover"
                                                [src]="element.urlfoto" alt="" appNotImg>
                                            <!-- LETRA -->
                                            <span *ngIf="!element.urlfoto"
                                                class="figurs colrss card-pls text-center text-xl object-cover rounded-full bg-cover">{{
                                                element.empleado.substring(0,1) }}</span>
                                            <div
                                                class="absolute -right-2 bottom-0 h-4 w-4  z-10 bg-azul-500 border-3 border-white rounded-full ">
                                            </div>
                                        </div>
                                        <span class="nombsa ml-2">{{ element.empleado }}</span>
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Cargo -->
                            <ng-container matColumnDef="Cargo">
                                <th mat-header-cell *matHeaderCellDef class="font-semibold"> Cargo </th>
                                <td mat-cell *matCellDef="let element" class="whitespace-nowrap">
                                    <div class="flex items-start flex-col">
                                        <span *ngIf="element.cargo" class="card-director">{{ element.cargo }}</span>

                                        <!-- (click)="horario()" -->
                                        <!-- <a *ngIf="!element.cargo"
                                            class="flex items-center cursor-pointer horario justify-center">
                                            <span class="underline text-azul-500">Sin Cargo</span>
                                            <svg-icon class="w-4 h-4 ml-2" src="assets/img/personal/sincargo.svg">
                                            </svg-icon>
                                        </a> -->

                                    </div>
                                </td>
                            </ng-container>

                            <!--Horario-->
                            <ng-container matColumnDef="Horario">
                                <th mat-header-cell *matHeaderCellDef class="font-semibold"> Horario </th>
                                <td mat-cell *matCellDef="let element" class="whitespace-nowrap">
                                    <div class="flex items-start flex-col">
                                        <!-- si horrio -->
                                        <span *ngIf="element.horario" class="horario">{{ element.horario }}</span>
                                        <!-- Sin horario -->
                                        <a *ngIf="!element.horario" (click)="horario(element.idempleado)"
                                            class="flex items-center cursor-pointer horario justify-center"> <span
                                                class="underline text-azul-500">Sin Horario</span>
                                            <svg-icon class="w-4 h-4 ml-1" src="assets/img/personal/sincargo.svg">
                                            </svg-icon>
                                        </a>
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Acciones-->
                            <ng-container matColumnDef="Acciones">
                                <th mat-header-cell *matHeaderCellDef class="font-semibold"> Acciones </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="flex  space-x-2 sm:space-x-6">
                                        <!-- editar -->
                                        <button (click)="modalPersonal( false, element )"
                                            class="p-2 hover:bg-gray-100 rounded-md">
                                            <svg-icon src="assets/img/personal/edit.svg"></svg-icon>
                                        </button>
                                        <!-- Eliminar -->
                                        <!-- (click)="delete()" -->
                                        <button (click)="showdelete(element)" class="p-2 hover:bg-gray-100 rounded-md">
                                            <svg-icon src="assets/img/personal/delete.svg"></svg-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr class="sticky top-0 z-20 border-b-1 border-gray-700" mat-header-row
                                *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator class="font-Poppins" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</main>

<app-reporteasistencia *ngIf="true" [reporteasistencia]="reporteasistencia" (Send)='reporteasistencia = $event'></app-reporteasistencia>
<app-spinner> </app-spinner>

<div class="fixed bottom-5 right-4 flex sm:hidden">
    <button mat-fab (click)="modalPersonal( true )"  style="background: #0044EA !important;" >
        <mat-icon>add</mat-icon>
    </button>
</div>




























<style>
    .dropdown:focus-within .dropdown-menu {
        opacity: 1;
        transform: translate(0) scale(1);
        visibility: visible;
    }
</style>
