<mat-nav-list>
 <div class="py-3">
    <span class="text-sm font-semibold">Opciones</span>
 </div>
    
    <a  mat-list-item  (click)="openLink($event)">
        <mat-icon class="w-6 h-6 text-gray-800">create</mat-icon>
        <!-- <mat-icon class="w-6 h-5 text-gray-800"> border_color</mat-icon> -->
       <span class="text-sm font-medium font-Poppins text-gray-800 ml-2">Editar</span>
    </a>
  
    <a  mat-list-item  (click)="openLink($event)">
        <!-- <mat-icon class="w-6 h-6 text-gray-800">create</mat-icon> -->
        <mat-icon class="w-6 h-6 text-gray-800">delete</mat-icon>
       <span class="text-sm font-medium font-Poppins text-gray-800 ml-2">Eliminar</span>
    </a>
  </mat-nav-list>