.container {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middles {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.hor {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #1D222E;
    font-weight: 600;
}

.ciuda {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #9DA3A7;
}

.minu {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0044EA;
}

.hrsp {
    background: #FFFFFF;
    box-shadow: 0px 1px 8px rgba(0, 68, 234, 0.2);
    border-radius: 14px;
    height: 92px;
}

.nombrs {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    color: #00263E;
}

.nom-descr {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #A1A1A1;
}

.bie-desc {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #6F6F6F;
}

.bienvenido {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #0E1523;
}

.buenosdias {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    /* line-height: 33px; */
    display: flex;
    align-items: center;
    color: #072649;
}




   
    .entrasa {
        font-family: Poppins;
       /* font-size: 15px; */
        /* line-height: 33px; */
        display: flex;
        align-items: center;
        /* letter-spacing: 0.1em; */
        color: #FFFFFF;
    }
    
    .fecha {
        font-family: Poppins;
        font-style: normal;
        /* font-size: 15px; */
        /* line-height: 33px; */
        display: flex;
        align-items: center;
        /* letter-spacing: 0.1em; */
        color: #FFFFFF;
    }
  
  @media (min-width: 768px) {
   
    .entrasa {
        font-family: Poppins;
        /* font-size: 18px; */
        /* line-height: 20px; */
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    
    .fecha {
        font-family: Poppins;
        font-style: normal;
        /* line-height: 20px; */
        /* font-size: 18px; */
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
  }

