<main class="font-Poppins w-full relative ">
    <div class=" flex md:flex-row flex-col bg-plomo-40 md:bg-none w-full alturainicioweb">

        <!-- Entrada y Salida -->
        <section class="lg:w-8/12 w-full relative bg-plomo-40 lg:pt-10  pt-0  items-center">

            <!-- Bienvenida -->
            <div class="lg:px-14 md:px-10 px-5 relative">
                <div class="w-full  lg:flex flex-auto gap-4 items-center lg:bg-celeste-100 bg-opacity-0 lg:mt-20  rounded-3xl">
                    <!-- imagen de bienvenida -->
                    <div class="h-full hidden lg:flex items-center">
                        <div class="2xl:-mt-20 xl:-mt-10 -mt-9">
                            <img class=""  src="assets/img/inicio/bienve.svg" alt="">
                            <!-- <svg-icon class="lg:max-w-5xl max-w-sm w-12" src="assets/img/inicio/bienve.svg"></svg-icon> -->
                        </div>
                    </div>
                    <!-- Bienvenida -->
                    <div class="h-full items-center">
                        <div class=" lg:space-y-1 ">
                            <!-- Bienvenida: Titulo -->
                            <div class="flex justify-between items-center lg:flex lg:justify-between lg:py-0 py-5 lg:flex-col flex-row gap-5 lg:gap-0 lg:pl-4 pl-0 ">
                                <div class="lg:text-3xl text-xl font-medium flex w-full justify-start lg:justify-start ">BIENVENIDO!</div>
                                <div class="flex gap-1 items-center w-full justify-end lg:justify-start xl:pt-3 pt-0">
                                    <span class="text-azul-800 lg:text-xl text-sm">{{tiempodia}}</span>
                                    <span class="object-contain lg:w-10 lg:h-10 w-6 h-6">
                                            <img *ngIf='tiempodia=="Buenos Dias"' src="assets/img/inicio/dia.png" alt="dia">
                                            <!-- tarde -->
                                            <img *ngIf='tiempodia=="Buenas Tardes"' src="assets/img/inicio/tarde.png" alt="tarde">
                                            <!-- noche -->
                                            <img *ngIf='tiempodia=="Buenas Noches"' src="assets/img/inicio/noche.png" alt="noche">
                                    </span>
                                </div>
                            </div>

                            <div class=" bg-white rounded-3xl border-plomo-80 w-full lg:hidden flex">
                                <div class="flex justify-between border-1 w-full border-plomo-40 shadow-lg rounded-3xl items-center h-full px-3 py-9 sm:px-6 sm:py-7 md:p-8  sm:gap-3  ">
                                    <div class="lg:h-97 lg:w-97 w-full flex items-center gap-2">
                                       <div class="text-azul-900 h-5 w-5">
                                           <svg-icon class="" src="assets/img/inicio/reloj.svg"></svg-icon>
                                       </div>
                                        <div class=" flex h-5 flex-col items-center">
                                            <div class="hor">Hora actual local</div>
                                            <!-- <span class="ciuda">{{zonahoraria}}</span> -->
                                        </div>
                                    </div>
                                    <div class="text-4xl  text-azul-500 flex items-center">
                                        <span>{{hora}}:{{minuto}}</span>
                                    </div>
                                </div>
                            </div>

                            <!-- info -->
                            <div class="hidden lg:flex lg:pl-4 pl-0 xl:pt-3 pt-0">
                                <span class="text-plomo-110 text-tiny">Utiliza los botones de entrada y salida para marcar tus <br class="hidden 2xl:flex"> acciones.</span>
                                <br>
                            </div>
                            <div class="flex py-5 lg:pl-4 pl-0 xl:pt-3 pt-5 lg:py-0 border-b-1 lg:border-0 border-plomo-70 ">
                                <span class="underline text-azul-500 flex lg:justify-start w-full justify-end font-grande lg:text-base text-xs">#AsisTED2021</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Titulo de marca asistencia -->
            <div class="lg:px-14 md:px-10  px-5 space-y-2 lg:pt-14 lg:pb-10 py-5 md:pt-5 md:py-0  z-50">
                <p class="font-grande text-base text-plomo-140 z-50">Marcar su asistencia</p>
                <span class="text-plomo-110 z-50">A continuación eliga su entrada o salida y click a guardar la asistencia.</span>
            </div>

            <!-- Botones: ENTRADA - SALIDA   -->
            <div class="lg:px-14 md:px-10 px-5 2xl:w-3/4 w-full flex sm:flex-row md:pt-5 lg:pt-0 flex-col gap-5  ">
                <!-- boton entrada -->
                <button (click)="controlAsistencia(!true)" class="z-50 flex gap-5 container px-7 sm:px-9 md:py-7 sm:py-4 py-3 lg:p-6 focus:outline-none  w-full sm:w-1/2 bg-azul-500  rounded-md">

                    <div class="flex items-start h-full">
                        <svg-icon class="  text-white" src="assets/img/inicio/reloj.svg"></svg-icon>
                    </div>
                    <div  class="space-y-2">
                        <div class="entrasa text-lg sm:text-xl md:text-2xl font-semibold">ENTRADA</div>
                        <div class="fecha ">{{FechaActual}}</div>
                    </div>
                    <button  class="middle hidden sm:flex">
                        <img class="w-12" src="assets/img/inicio/touch1.gif" alt="">
                    </button>
                    <button  class="middles flex sm:hidden">
                        <img class="w-12" src="assets/img/inicio/touch1.gif" alt="">
                    </button>
                </button>
                <!-- boton salida -->
                <button (click)="controlAsistencia(true)" class="z-50 flex gap-5 container px-7 sm:px-9 md:py-7 sm:py-4 py-3 lg:p-6 focus:outline-none  w-full sm:w-1/2 bg-azul-750  rounded-md">
                    <div class="flex items-start h-full">
                        <svg-icon class="  text-white" src="assets/img/inicio/reloj.svg"></svg-icon>
                    </div>
                    <div  class="space-y-2">
                        <div class="entrasa text-lg sm:text-xl md:text-2xl font-semibold ">SALIDA</div>
                        <div class="fecha ">{{FechaActual}}</div>
                    </div>
                    <button  class="middle hidden sm:flex">
                        <img class="w-12" src="assets/img/inicio/touck2.gif" alt="">
                    </button>
                    <button  class="middles flex sm:hidden">
                        <img class="w-12" src="assets/img/inicio/touck2.gif" alt="">
                    </button>
                </button>
            </div>
            <!-- IP -->
            <div class="lg:px-14 md:px-10 px-5 2xl:pt-16 lg:pt-7 md:pt-5 pt-2">
                <div class="flex flex-col md:flex-row md:justify-start justify-center gap-3 ">
                    <div class="z-50 flex justify-center md:justify-start">
                        <svg-icon src="assets/img/inicio/nube.svg"></svg-icon>
                    </div>
                    <div class="z-50 flex justify-center md:justify-start">Conectado con la IP {{ip}}</div>
                </div>
            </div>

            <!-- footer inicio -->
            <div class="hidden md:flex w-full ">
              <img class="absolute bottom-0 object-contain " src="assets/img/inicio/footerinicio.svg" alt="">
              <p class="lg:px-14 md:px-10 sm:px-4 px-3 w-full absolute lg:flex lg:justify-start md:justify-center  bottom-0  text-azul-800 font-grande flex  2xl:text-base text-center md:text-sm text-xs">© 2021 Innovated. Todos los derechos reservados.</p>
            </div>

        </section>

        <!-- Historial de asistencias -->
        <section class="lg:w-4/12 w-full hidden lg:flex flex-col bg-white h-full 2xl:px-16 xl:px-9 lg:px-5 px-3 border-l-2">
            <!-- horario actual -->
            <div class="pt-5 xl:pt-10 hidden sm:flex w-full ">
                <div class="flex justify-between w-full hrsp shadow-lg rounded-md items-center h-full p-2 lg:p-5 ">
                    <div class="flex ">
                        <svg-icon class="text-azul-900 h-5 w-5 " src="assets/img/inicio/reloj.svg "></svg-icon>
                        <div class="flex flex-col ml-2 ">
                            <span class="hor ">Hora actual local</span>
                            <span class="ciuda ">{{zonahoraria}}</span>
                        </div>
                    </div>
                    <div class="minu">{{hora}}:{{minuto}}</div>
                </div>
            </div>

            <div class="pt-2 xl:pt-7">
                <div class="flex gap-3 items-center ">
                    <div class="text-azul-550 w-2 h-2 ">
                        <svg-icon src="assets/img/inicio/punto.svg "></svg-icon>
                    </div>
                    <span class="hor">Historial de Asistencias </span>
                </div>
            </div>

            <!-- historial vacio -->
            <!-- <div class="border-1 items-center border-plomo-200 my-6 rounded-xl flex justify-center h-full">
               <div class="flex flex-col space-y-2 items-center">
                   <img class="object-contain" src="assets/img/inicio/historialvacia.png" alt="">
                   <div class="text-plomo-220 ">Sin datos que mostrar</div>
                </div>
            </div> -->

            <!-- historial programado -->
            <div class="overflow-auto scroollpersonalizadotabla alturascroll">
                <div class="space-y-4">
                    <div class="flex items-center mt-3" *ngFor="let item of AttendanceList">
                        <div class="w-6 h-6 text-plomo-140 items-center mr-2">
                            <svg-icon src="assets/img/inicio/user.svg "></svg-icon>
                        </div>
                        <div class="flex flex-col space-y-1 items-start">
                            <span class="nombrs">{{item.empleado}}</span>
                            <span class="nom-descr">{{item.tipo}} {{item.fechaasistencia}} {{item.tipo == 'ENTRADA' ? item.horaasistencia : item.horasalida}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- historial con sombre -->
            <!-- <div class="overflow-auto scroollpersonalizadotabla alturascroll ">
                <div class="space-y-4 ">
                    <div class="flex items-center mt-3" >
                        <div class="w-6 h-6 text-plomo-140 items-center mr-2 ">
                            <svg-icon src="assets/img/inicio/user.svg "></svg-icon>
                        </div>
                        <div class="flex flex-col  items-start ">
                            <span class="nombrs">Jose Alberto Martinez Mendoza</span>
                            <span class="nom-descr">Salida (09/Jul/2020  12:01 pm)</span>
                        </div>
                    </div>
                    <div class="flex items-center mt-3 w-full" *ngFor="let item of [1,1,1,1,1,1,1]" >
                        <img class="w-full" src="assets/img/inicio/sombra.svg" alt="">
                    </div>
                </div>
            </div> -->


        </section>

    </div>
    <!-- footer Movil -->
    <div class="flex md:hidden ">
        <img class="absolute bottom-0 object-contain" src="assets/img/inicio/footerinicio.svg" alt="">
        <p class="w-full absolute  bottom-0  text-azul-800 font-grande flex justify-center 2xl:text-base text-center md:text-sm text-xs">© 2021 Innovated. Todos los derechos reservados.</p>
    </div>

</main>
<app-spinner> </app-spinner>
