.pers {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    color: #4F4E4E;
}

.descr {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #707581;
}



mat-form-field.matInput {
    background: #FFFFFF;
    border: 0.7px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6px;
    line-height: 19px;
    color: #1d1d1d;
}
.option-ch {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.btn-pesonal {
    width: 40px;
    height: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    background: #0D53FD;
    box-shadow: 0px 4px 10px rgba(13, 83, 253, 0.4);
    border-radius: 3px;
}

.visualizar {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #BEBEBE;
}

.subir {
    background: #FFFFFF;
    border: 1.2px dashed #0D53FD;
    box-sizing: border-box;
    border-radius: 3px;
}

.subir-foto {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0D53FD;
}

.bg-dni {
    background: #F5F6FA;
    border-radius: 4px;
}

.btn- {
    background: #FFFFFF;
    border: 0.7px solid #B6BBC8;
    box-sizing: border-box;
    border-radius: 3px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    font-family: Poppins;
    color: #626D73;
    width: 130px;
}

.btn {
    border: 0.7px solid #0D53FD;
    box-sizing: border-box;
    border-radius: 3px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    font-family: Poppins;
    width: 130px;
}

.btn-:hover {
    border: 0.7px solid #0D53FD;
    box-shadow: 0px 4px 10px rgba(13, 83, 253, 0.4);
    border-radius: 3px;
    color: #0D53FD;
}

.oneline {
    background: #0D53FD;
    box-shadow: 0px 4px 10px rgba(13, 83, 253, 0.4);
    border-radius: 3px;
    color: white;
}

.btn:hover {
    border: 0.7px solid #0c49e234;
    box-shadow: 0px 4px 10px rgba(13, 81, 253, 0.192);
    border-radius: 3px;
    color: white;
}

.text-label{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    font-weight: 600;
}






.overlay-scrollbar::-webkit-scrollbar {
    width: 6px;
    height:6px;
}

.scrollbar-hover::-webkit-scrollbar {
    display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2A3E4B;
    border-radius: 10rem;
    /* border: 1px solid#E7EFF3; */
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: #E7EFF3;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: #E7EFF3;
    border-radius: 10rem;
}