
<app-spinner> </app-spinner>

<header class="flex items-center sm:justify-between w-full px-4 py-3">
    <button matDialogClose class="flex sm:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
          </svg>
    </button>
    <div class="flex flex-col ml-2 sm:ml-0">
        <span class="pers-title">Nuevo Personal Operativo</span>
        <span class="descr">Ingrese todos los datos para identificar al usuario</span>
    </div>
    <button matDialogClose   class="hidden sm:flex">
        <svg-icon src="assets/img/personal/close.svg"> </svg-icon>
    </button>
</header>
<form (keydown.enter)="$event.preventDefault()" [formGroup]="form" (ngSubmit)="saveEmployee()" class="px-4" >
    <div class="grid  grid-cols-1 lg:grid-cols-2  pb-6 items-center overlay-scrollbar  overflow-auto  md:h-[65vh] 2xl:h-full">
        <div class="sm:pr-6">
            <div class="flex items-center py-2">
                <div class="w-full mr-2">
                    <div>
                        <mat-select formControlName="idcargo" [class.error]="cargoInvalid" required placeholder="Cargo" class="seclect py-2  px-2 font-Poppins">
                            <mat-option [value]="item.idcargo" *ngFor="let item of listRoles" class="option-ch">{{ item.cargo }}</mat-option>
                        </mat-select>
                    </div>
                    <span *ngIf="cargoInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>

                <!-- nuevo cargo -->
                <button (click)="nuevocargo()" class="btn-pesonal" type="button">
                    <svg-icon class="text-center" src="assets/img/personal/mas.svg"></svg-icon>
                </button>
            </div>

            <div class="flex items-center py-2">
                <mat-select formControlName="idhorario" placeholder="Asigne un Horario" class="seclect py-2 mr-2 px-2 font-Poppins">
                    <mat-option [value]="item.idhorario" *ngFor="let item of listTimeTable" class="option-ch">{{ item.horario }}</mat-option>
                </mat-select>
                <!-- nuevo horario -->
                <button (click)="nuevoHorario()" type="button" class="btn-pesonal">
                    <svg-icon class="text-center" src="assets/img/personal/mas.svg"></svg-icon>
                </button>
            </div>

            <!-- ok -->
            <a class="flex items-center cursor-pointer horario justify-start py-2">
                <svg-icon class="w-4 h-4 ml-1" src="assets/img/personal/eyes.svg"></svg-icon>
                <span (click)="visualizeTimeTable()" class="visualizar">Visualizar</span>
            </a>

            <!-- Subir foto -->
            <div class="py-2 border-t-1  border-gray-300">
                <label class="w-full subir flex cursor-pointer  items-center px-4 py-4 bg-white rounded-md  justify-center">
                    <svg-icon *ngIf="bs64Photo === 'NO'" src="assets/img/personal/camera.svg"></svg-icon>
                    <img class="h-16 w-16  rounded-xl object-cover" *ngIf="bs64Photo !== 'NO'" [src]="bs64Photo" alt="img" appNotImg>
                    <span *ngIf="bs64Photo === 'NO'" class="subir-foto ml-1">Subir Foto</span>
                    <input type='file' class="hidden" (change)="uploadFileEvt($event)" />
            </label>
            </div>

            <div class="grid grid-cols-2 gap-x-3 gap-y-2">
                <div class=" w-full sm:mb-1">
                    <label class="text-label">Tipo Doc.</label>
                    <div>
                        <mat-select formControlName="idtipodocumento" [class.error]="typeDocumentInvalid" placeholder="DNI" class="seclect py-2 mr-2 px-2 mb-1 font-Poppins" required>
                            <mat-option [value]="item.idtipodocumento" *ngFor="let item of listTypeDocument" class="option-ch">{{ item.tipodocumento }}</mat-option>
                        </mat-select>
                    </div>

                    <span *ngIf="typeDocumentInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>

                <!-- dni Completo -->
                <div class=" w-full sm:mb-1">
                    <label class="text-label">Nº de DNI</label>
                    <div>
                        <input (keyup.enter)="getReniec()" type="text" class="py-2 seclect w-full " [class.error]="nDocumentoInvalid" placeholder="Nº de DNI" required formControlName="numerodocumento" (keypress)="onlyNumberAllowed($event)" >
                    </div>
                    <span *ngIf="nDocumentoInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>




                <!-- Primer apeleido -->
                <div class=" w-full sm:mb-1">
                    <label class="text-label">Primero Apellido</label>
                    <div>
                        <input type="text" class="uppercase py-2 seclect w-full" [class.error]="apaternoInvalid" placeholder="Primero Apellido" required formControlName="apaterno">
                    </div>
                    <span *ngIf="apaternoInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>

                <!-- segundo Completo -->
                <div class=" w-full sm:mb-1">
                    <label class="text-label">Segundo Apellido</label>
                    <div>
                        <input type="text" class="uppercase py-2 seclect w-full " [class.error]="amaternoInvalid" placeholder="Segundo Apellido" required formControlName="amaterno">
                    </div>
                      <span *ngIf="amaternoInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>

                <!-- Nombre Completo -->
                <div class=" w-full sm:mb-1 col-span-2">
                    <label class="text-label">Pre Nombres</label>
                    <div>
                        <input type="text" class=" uppercase py-2 seclect w-full " [class.error]="nombresInvalid" placeholder="Pre Nombres" required formControlName="nombres">
                    </div>
                    <span *ngIf="nombresInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>

                <!-- fnacimiento -->
                <div class=" w-full sm:mb-1 relative ">
                    <label class="text-label">F. Nacimiento</label>
                    <div>
                        <input readonly type="text" class="py-2  seclect w-full" [class.error]="fechaNaciInvalid" placeholder="F. Nacimiento" required [matDatepicker]="fnacimiento" formControlName="fechanacimiento">
                        <mat-datepicker #fnacimiento> </mat-datepicker>
                        <button type="button" (click)="fnacimiento.open()" class="absolute top-7 right-2">
                            <svg-icon src="assets/img/personal/caledar.svg"></svg-icon>
                        </button>
                    </div>
                    <span *ngIf="fechaNaciInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>

                <!-- Código de Ubigeo -->
                <div class=" w-full sm:mb-1">
                    <!-- [class.error]="codigoubigeoInvalid" required -->
                    <label class="text-label">Código de Ubigeo</label>
                    <div>
                        <input type="number" class="py-2 seclect w-full" [class.error]="codigoubigeoInvalid" placeholder="Código de Ubigeo" formControlName="codigoubigeo">
                    </div>
                    <span *ngIf="codigoubigeoInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>

                <!-- f  Inscripción -->
                <div class=" w-full sm:mb-1 relative ">
                    <label class="text-label">F.Inscripción</label>
                    <div>
                        <input readonly type="text" class="py-2  seclect w-full " [class.error]="fechainscripcionInvalid" placeholder="F.Inscripción" required [matDatepicker]="finscripcion" formControlName="fechainscripcion">
                        <mat-datepicker #finscripcion> </mat-datepicker>
                        <button type="button" (click)="finscripcion.open()" class="absolute top-7 right-2">
                            <svg-icon src="assets/img/personal/caledar.svg"></svg-icon>
                        </button>
                    </div>
                    <span *ngIf="fechainscripcionInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>


                <!-- F. Emision DNI -->
                <div class=" w-full sm:mb-1 relative ">
                    <label class="text-label"> F. Emision DNI</label>
                    <div>
                        <input readonly type="text" class="py-2  seclect w-full " [class.error]="fechaemisiondniInvalid" placeholder="F. Emision DNI" required [matDatepicker]="femisiondni" formControlName="fechaemisiondni">
                        <mat-datepicker #femisiondni> </mat-datepicker>
                        <button type="button" (click)="femisiondni.open()" class="absolute top-7 right-2">
                            <svg-icon src="assets/img/personal/caledar.svg"></svg-icon>
                        </button>
                    </div>

                    <span *ngIf="fechaemisiondniInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>

                <!-- F. Caducidad -->
                <div class=" w-full sm:mb-1 relative">
                    <label class="text-label"> F. Caducidad</label>

                    <div>
                        <input readonly type="text" class="py-2  seclect w-full " [class.error]="fechacaducidadInvalid" placeholder="F. Caducidad" required [matDatepicker]="fcaducidad" formControlName="fechacaducidad">
                        <mat-datepicker #fcaducidad> </mat-datepicker>
                        <button type="button" (click)="fcaducidad.open()" class="absolute top-7 right-2">
                            <svg-icon src="assets/img/personal/caledar.svg"></svg-icon>
                        </button>
                    </div>
                    <span *ngIf="fechacaducidadInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>

                <!-- Grupo de Votación -->
                <div class=" w-full sm:mb-1">
                    <!-- [class.error]="grupovotacionInvalid" required -->
                    <label class="text-label">Grupo de Votación</label>

                    <div>
                        <input type="number" class="py-2 seclect w-full mb-1" [class.error]="grupovotacionInvalid" placeholder="Grupo de Votación" formControlName="grupovotacion">
                    </div>
                    <span *ngIf="grupovotacionInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>
            </div>

        </div>
        <div class="w-full bg-dni hidden lg:flex px-6 h-full  items-center justify-center">
            <svg-icon src="assets/img/personal/dni-.svg"></svg-icon>
        </div>
    </div>


    <div class="flex justify-center sm:justify-end col-span-2 space-x-3 py-3">
        <!-- reportes -->
        <!-- <button mat-dialog-close type="button" class="btn-"> -->


        <button mat-dialog-close type="button" class="btn- w-full">
            <span class="ml-1">Cancelar</span>
        </button>

        <button type="submit" class="btn oneline w-full">
            <span class="ml-1"> Guardar</span>
        </button>
    </div>

</form>




