<main class="bg-white shadow-md border-b-[2px] shadow-[5px] flex justify-between  border-plomo-50 navbar w-full">
    <!-- head - cabezera -->
    <div class="flex items-center relative w-full justify-between  xl:container mx-auto  px-4 xl:px-0  py-3">
        <!-- Logo Asisted -->
        <div class="flex sm:w-1/2 w-1/3 justify-start md:justify-start ">
            <svg-icon class="object-contain w-32 sm:w-36 " src="assets/img/login/asisted.svg"></svg-icon>
        </div>

        <!-- Buscador -->
        <!-- <div class="relative  sm:flex hidden justify-center items-center px-10 ">
            <span class="absolute left-14"><img src="assets/img/inicio/lupa.svg" ></span>
            <input class="w-full border-0 pl-11  text-sm focus:border-0  font-Poppins" type="search" placeholder="Buscar">
        </div> -->

        <!-- Corporacion - menu -->
        <div class="flex w-full items-center justify-end">
            <div class=" gap-2 justify-end hidden sm:flex items-center ">
                <!-- LOGO -->
                <div class="justify-end hidden lg:flex items-center pr-16">
                    <span class="focus:outline-none relative">
                        <img class="object-contain  logoem rounded-full " [src]="sfn.convertbs64ForSrc(company.logo)" alt="" appNotimgcompany>
                        <div class="absolute right-0 bottom-1 h-2 w-2  p-1 z-20 bg-azul-500 rounded-full  animate-ping"></div>
                        <div class="absolute right-0 bottom-1 h-1 w-1  p-1 z-10 bg-azul-500 border border-white rounded-full "></div>
                    </span> 
                
                    <span class="font-Poppins ml-1">
                        <div class="empresa">{{ company.razonsocial }}</div>
                        <div class="ruc">{{ company.ruc }}</div>
                    </span>
                </div>

                <!-- opciones pc -->
                <div class="relative inline-block text-left dropdown">
                    <button (click)="menutoogle = !menutoogle" type="button" aria-haspopup="false" aria-expanded="true" aria-controls="headlessui-menu-items-117" class="menupc hover:bg-gray-50">
                        <svg-icon  src="assets/img/inicio/opciones.svg"> </svg-icon>
                    </button>
                    <div *ngIf="menutoogle" class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right z-50 relative">
                        <div class="absolute -right-4 w-60 mt-4 origin-top-right bg-white border dropdownconfiguraci border-gray-200  divide-y divide-gray-100  shadow-md outline-none  animate__animated animate__fadeIn" aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
                            <div class="absolute -top-3 right-4">
                                <svg width="39" height="15" viewBox="0 0 39 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.1233 1.29906C18.1607 -0.088146 20.8393 -0.0881447 22.8767 1.29906L37.6344 11.3468C39.2617 12.4548 38.4775 15 36.5088 15H2.49122C0.522471 15 -0.26173 12.4548 1.36564 11.3468L16.1233 1.29906Z" fill="white"/>
                                </svg>
                            </div>
                            <!-- (change)="" -->
                            <div class="overflow-y-auto flex  flex-col  mx-4  mt-4">
                                <label tabindex="0" class="py-2 cursor-pointer font-Poppins" role="menuitem">
                                    <div class="flex items-center flex-col w-full">
                                    <figure  class="bors mb-4">
                                        <div class="border-white border-3 rounded-full">
                                            <!-- https://conceptodefinicion.de/wp-content/uploads/2019/08/Empresa-.jpg -->
                                            <img class="empresalo" [src]="sfn.convertbs64ForSrc(company.logo)" alt="" appNotimgcompany>
                                        </div>
                                    </figure>
                                    <br>
                                    <span class="empresa em">{{ company.razonsocial }}</span>
                                    <span class="ruc">{{ company.ruc }}</span>
                                    <br>
                                    <div class="space-y-3">
                                        <button class="btn" (click)="menutoogle = !menutoogle"  (click)="toggleTabs(1)" [ngClass]="{'btn-inactive': !openTab1, 'btn-active transition duration-500 ease-in': openTab1}" [routerLink]="[ '/admin/dashboard' ]" routerLinkActive="active">
                                            <svg-icon class="w-5 h-5" src="assets/img/confi/personal.svg"> </svg-icon>
                                            <span class="ml-1">Personal Operativo</span>
                                        </button>
        
                                        <button class="btn"(click)="menutoogle = !menutoogle"  (click)="toggleTabs(2)" [ngClass]="{'btn-inactive': !openTab2, 'btn-active transition duration-500 ease-in': openTab2}" [routerLink]="[ '/admin/gestionusuario' ]" routerLinkActive="active">
                                            <svg-icon class="w-6 h-6" src="assets/img/confi/gestion.svg"> </svg-icon>
                                            <span class="ml-1">Gestión Usuarios</span>
                                        </button>
        
                                        <button class="btn btn-inactive" (click)="configuracion()" >
                                            <svg-icon class="w-5 h-5" src="assets/img/confi/confi.svg"> </svg-icon>
                                            <span class="ml-1">Configuraciones</span>
                                        </button>
        
                                        <button (click)="logoutAdmin()" type="button" class="btn oneline">
                                            <svg-icon class="w-5 h-5" src="assets/img/confi/salir.svg"> </svg-icon>
                                            <span class="ml-1">Salir de Admin</span>
                                        </button>
                                    </div>
                                    <br>
                                    <hr class="border border-gray-300 w-full">
                                  
                                    <div class="focus:outline-none flex items-start w-full justify-start pt-2">
                                        <div class="w-10 h-10">
                                            <img class=" rounded-md w-full h-full" [src]="user.urlfoto" alt="images" appNotImg >
                                            <!-- <div class=" h-2 w-2  p-1 z-20 border-white border-2 bg-azul-500 rounded-full"></div> -->
                                        </div>
                                        <div class="flex flex-col ml-1 font-Poppins">
                                            <span class="empresa">{{ user.nombres }}</span>
                                            <span class="ruc">{{ user.cargo }}</span>
                                        </div>
                                    </div>
                                    </div>
                                </label>
    
                            </div>
                        </div>
                    </div>
                </div> 

            </div>
             <!-- LOGO MENU (Movil)-->
             <input type="checkbox" id="chk">
             <label  for="chk" class="show-menu-btn w-2/12 md:w-auto">
                 <span class=" h-full flex md:justify-center justify-end items-center">
                     <span class="focus:outline-none relative">
                        <img class="object-contain  logoem rounded-full " [src]="sfn.convertbs64ForSrc(company.logo)" alt="" appNotimgcompany>  
                        <div class="absolute right-1 bottom-1 h-2 w-2  p-1 z-20 bg-azul-500 rounded-full  animate-ping"></div>
                        <div class="absolute right-1 bottom-1 h-1 w-1  p-1 z-10 bg-azul-500 border border-white rounded-full "></div>
                     </span> 
                 </span>                    
             </label>
             <!-- CONTENIDO DEL MENU -->
            <section  class="menu w-full sm:w-4/12 lg:w-6/12  font-Poppins  text-navba  relative  lg:h-[75px]  " style="z-index: 100;" >                    
                <div class="flex lg:justify-between  lg:flex-row flex-col items-center  h-full w-full  ">
                
                    <!-- BOTON MODAL CERRAR -->
                    <label  for="chk" class="hide-menu-btn " style="z-index: 1000;">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 8.75H4.7875L11.775 1.7625L10 0L0 10L10 20L11.7625 18.2375L4.7875 11.25H20V8.75Z" fill="#979797"/>
                        </svg>
                    </label>
                    <!-- CONTENIDO -->
                    <div class="relative" >
                        <div class="absolute right-4">
                            <svg width="39" height="15" viewBox="0 0 39 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.1233 1.29906C18.1607 -0.088146 20.8393 -0.0881447 22.8767 1.29906L37.6344 11.3468C39.2617 12.4548 38.4775 15 36.5088 15H2.49122C0.522471 15 -0.26173 12.4548 1.36564 11.3468L16.1233 1.29906Z" fill="white"/>
                            </svg>
                        </div>
                        <div class="overflow-y-auto flex  flex-col  mx-4  mt-4">
                            <label tabindex="0" class="py-2 cursor-pointer font-Poppins" role="menuitem">
                                <div class="flex items-center  flex-col w-full">
                                    <figure  class="bors mb-4">
                                        <div class="border-white border-3 rounded-full">
                                            <!-- https://conceptodefinicion.de/wp-content/uploads/2019/08/Empresa-.jpg -->
                                            <img class="empresalo" [src]="sfn.convertbs64ForSrc(company.logo)" alt="" appNotimgcompany>
                                        </div>
                                    </figure>
                                    <br>
                                    <span class="empresa em">{{ company.razonsocial }}</span>
                                    <span class="ruc">{{ company.ruc }}</span>
                                    <br>
                                    <div class="space-y-3">
                                        <label  for="chk" class="btn "   (click)="toggleTabs(1)" [ngClass]="{'btn-inactive': !openTab1, 'btn-active transition duration-500 ease-in': openTab1}" [routerLink]="[ '/admin/dashboard' ]" >
                                            <svg-icon class="w-5 h-5" src="assets/img/confi/personal.svg"> </svg-icon>
                                            <span class="ml-1">Personal Operativo</span>
                                        </label>
        
                                        <label  for="chk" class="btn"   (click)="toggleTabs(2)" [ngClass]="{'btn-inactive': !openTab2, 'btn-active transition duration-500 ease-in': openTab2}" [routerLink]="[ '/admin/gestionusuario']" >
                                            <svg-icon class="w-5 h-5" src="assets/img/confi/gestion.svg"> </svg-icon>
                                            <span class="ml-1">Gestión Usuarios</span>
                                        </label>
        
                                        <label  for="chk" class="btn " (click)="toggleTabs(3)" (click)="configuracion()" [ngClass]="{'btn-inactive': !openTab3, 'btn-active transition duration-500 ease-in': openTab3}" [routerLink]="[ '/admin/gestionusuario']"  >
                                            <svg-icon class="w-5 h-5" src="assets/img/confi/confi.svg"> </svg-icon>
                                            <span class="ml-1">Configuraciones</span>
                                        </label>
        
                                        <label  for="chk" (click)="logoutAdmin()" type="button" class="btn oneline">
                                            <svg-icon class="w-5 h-5" src="assets/img/confi/salir.svg"> </svg-icon>
                                            <span class="ml-1">Salir de Admin</span>
                                        </label>
                                    </div>
                                    <br>
                                </div>
                               
                            </label>

                        </div>
                    </div>
                    
                    <!-- Historia Asisted - titulo-->
                    <div class="focus:outline-none  items-start justify-start pt-2  border-t-1 border-gray-300 w-full">
                        <div class="w-full flex justify-center ">
                            <div class="flex relative justify-center rounded-lg ">
                                <img class="object-contain w-12 rounded-lg" [src]="user.urlfoto" alt="images" appNotImg >
                                <div class="absolute -right-1 bottom-0 h-2 w-2  p-1 z-20 bg-azul-500 rounded-full  animate-ping"></div>
                                <div class="absolute -right-1 bottom-0 h-1 w-1  p-1 z-10 bg-azul-500 border border-white rounded-full "></div>
                            </div>
                            <!-- <div class=" h-2 w-2  p-1 z-20 border-white border-2 bg-azul-500 rounded-full"></div> -->
                        </div>
                        <div class="flex w-full pt-3 justify-center text-center flex-col ml-1 font-Poppins">
                            <span class="empresa flex justify-center w-full">{{ user.nombres }}</span>
                            <span class="ruc flex justify-center w-full">{{ user.cargo }}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>

<!-- <div *ngIf="menutoogle" class="opacity-5 fixed inset-0 z-40 bg-black"></div> -->

<style>
    .dropdown:focus-within .dropdown-menu {
        opacity: 1;
        transform: translate(0) scale(1);
        visibility: visible;
    }
</style>