<button (click)="closeForm()" type="button" class="flex sm:hidden ml-4 pt-5">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
</button>
<header class="flex items-center justify-between w-full px-4 sm:px-10 pt-5 sm:pt-10">
    <div class="flex flex-col ml-2 sm:ml-0">
        <span class="pers-title">Identificate</span>
        <span class="descr">Para guardar tu asistencia completa lo siguiente.</span>
    </div>
    <button (click)="closeForm()" class="hidden sm:flex">
        <svg-icon src="assets/img/personal/close.svg"> </svg-icon>
    </button>
</header>
<main class="px-4 sm:px-10 py-5 space-y-5 pb-10">

    <section [ngClass]="{'entradabackground': !tipo, 'salidabackground':tipo}" class="caja-horario flex flex-col ">
        <div class="hora">
            <svg-icon class="w-5 h-5 mr-3" src="assets/img/inicio/reloj.svg"></svg-icon>
            <span class="">{{hora}}:{{minuto}}</span>
        </div>
        <span class="entrada">{{ !tipo? 'Entrada' : 'Salida'}}</span>
    </section>


    <form [formGroup]="form" (ngSubmit)='Attendance()' class=" space-y-4 sm:space-y-3">
        <!-- Dni -->
        <div class="w-full sm:mb-1 relative ">
            <input
              type="text"
              class="py-2 seclect w-full"
              placeholder="Nº de DNI"
              required
              formControlName='numerodocumento'
            >
            <span class="absolute top-3 right-4">
                <svg-icon src="assets/img/inicio/dni.svg"></svg-icon>
            </span>
            <span *ngIf="numeroDocumento" class="errors"> Por favor rellene este campo. </span>
        </div>

        <!-- Usuario -->

        <!-- <div class="w-full sm:mb-1 relative ">
            <input
              type="number"
              class="py-2 seclect w-full "
              placeholder="Código de Ubigeo"
              required
              formControlName='codigoubigeo'
            >
            <span class="absolute top-3 right-4">
                <svg-icon src="assets/img/inicio/cod-ubigeo.svg"></svg-icon>
            </span>
            <span *ngIf="codigoUbigeo" class="errors"> Por favor rellene este campo. </span>
        </div> -->

        <!-- Contraseña -->

        <!-- <div class="w-full sm:mb-1 relative ">
            <input
              type="number"
              class="py-2 seclect w-full "
              placeholder="Grupo de Votación"
              required
              formControlName='grupovotacion'
            >
            <span class="absolute top-3 right-4">
                <svg-icon src="assets/img/inicio/grupovotacion.svg"></svg-icon>
            </span>
            <span *ngIf="grupoVotacion" class="errors"> Por favor rellene este campo!. </span>
        </div> -->

        <div class="flex flex-col  space-y-3 py-3">
            <!-- Continuar [ngClass]="{'': !tipo, '':tipo}" -->
            <button [ngClass]="{'btn-entrada': !tipo, 'btn-salida':tipo}" type="submit" class="btn-control oneline w-full">
                <span class="ml-1"> Continuar</span>
            </button>
            <!-- Cancelar -->
            <button (click)="closeForm()" type="button" class="btn- w-full">
                <span class="ml-1">Cancelar</span>
            </button>
        </div>

        <div class="flex flex-col items-center justify-center">
            <span class="lledatos">¿No sabes como llenar los datos?</span>
            <a (click)="identificacion()" class="clickaqui"> Click Aquí</a>
        </div>
    </form>
</main>
