.pers-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    color: #4F4E4E;
}

.descr {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #707581;
}

.entradabackground{
  background: rgba(13, 83, 253, 0.1);
  color: #0044EA;
}

.salidabackground{
  background: rgba(0, 38, 62, 0.1);
  color: #00263E;
}

.caja-horario {
    width: 367px;
    height: 98px;
    /* background: rgba(13, 83, 253, 0.1); */
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media only screen and (min-width: 320px) {
    .caja-horario {
        width: 100%;
    }
}

@media only screen and (min-width: 375px) {
    .caja-horario {
        width: 100%;
    }
}

@media only screen and (min-width: 475px) {
    .caja-horario {
        width: 100%;
    }
}

@media only screen and (min-width: 675px) {
    .caja-horario {
        width: 367px;
    }
}

.hora {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

}

.entrada {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
}

.seclect {
    background: #FFFFFF;
    border: 0.7px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6px;
    line-height: 19px;
    color: #00263E;
    font-family: Poppins;
}

.error {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 11.5px;
    line-height: 16px;
    color: #ED0000;
}

.btn- {
    background: #FFFFFF;
    border: 0.7px solid #B6BBC8;
    box-sizing: border-box;
    border-radius: 3px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    font-family: Poppins;
    color: #626D73;
    width: 100%;
}

.btn-control {

    box-sizing: border-box;
    border-radius: 3px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    font-family: Poppins;
    width: 100%;
}

.btn-:hover {
    border: 0.7px solid #0D53FD;
    box-shadow: 0px 4px 10px rgba(13, 83, 253, 0.4);
    border-radius: 3px;
    color: #0D53FD;
}


.btn:hover {
    border: 0.7px solid #0c49e234;
    box-shadow: 0px 4px 10px rgba(13, 81, 253, 0.192);
    border-radius: 3px;
    color: white;
}

.btn-fil {
    box-sizing: border-box;
    border-radius: 3px;
    color: #B6BBC8;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lledatos {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    /* or 154% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #13385D;
}

.clickaqui {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    /* or 154% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-decoration-line: underline;
    color: #0D53FD;
    cursor: pointer;
}


.btn-entrada{
  border: 0.7px solid #0D53FD !important;
  background: #0D53FD !important;
  box-shadow: 0px 4px 10px rgba(13, 83, 253, 0.4) !important;
}

.btn-salida{
  border: 0.7px solid #00263E !important;
  background: #00263E !important;
  box-shadow: 0px 4px 10px rgba(0, 38, 62, 0.4) !important;
  border-radius: 3px;
}
