<main class="bg-white shadow-md border-b-[2px] shadow-[5px] flex justify-between  border-plomo-80 navbar w-full">
    <!-- head - cabezera -->
    <div class="flex items-center relative w-full justify-between lg:px-14 md:px-10  px-5  py-3">
        <!-- Logo Asisted -->
        <div class="flex sm:w-1/2 w-1/3 justify-start md:justify-start ">
            <svg-icon class="object-contain w-32 sm:w-36 " src="assets/img/login/asisted.svg"></svg-icon>
        </div>
        <!-- Corporacion - menu -->
        <div class="flex w-full items-center justify-end">
            
            <div class=" gap-2 justify-end hidden sm:flex items-center ">
                <!-- LOGO -->
                <div class="justify-end hidden lg:flex items-center pr-16">
                    <span class="focus:outline-none relative">
                        <img class="object-contain  logoem rounded-full " src="data:image/jpeg;base64,{{data.logo}}" alt="">
                        <div class="absolute right-1 bottom-1 h-2 w-2  p-1 z-20 bg-azul-500 rounded-full  animate-ping"></div>
                        <div class="absolute right-1 bottom-1 h-1 w-1  p-1 z-10 bg-azul-500 border border-white rounded-full "></div>
                    </span> 
                
                    <span class="font-Poppins ml-1">
                        <div class="empresa">{{data.razonsocial}}</div>
                        <div class="ruc">{{data.ruc}}</div>
                    </span>
                </div>

                <!-- opciones pc -->
                <div class="relative inline-block text-left dropdown">
                    <button (click)="menutoogle = !menutoogle" type="button" aria-haspopup="false" aria-expanded="true" aria-controls="headlessui-menu-items-117" class="menupc hover:bg-gray-50">
                        <svg-icon  src="assets/img/inicio/opciones.svg"> </svg-icon>
                    </button>
                    <div *ngIf="menutoogle" class="opacity-0 invisible dropdown-menu transition-all duration-300 transform   z-50 relative">
                        <div class="absolute opacity-100 visible w-60 top-0 bg-white border-1 dropdownconfiguraci border-gray-300  shadow-2xl outline-none  animate__animated animate__fadeIn" style="box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.11), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);">
                            <div class="absolute right-4">
                                <svg width="39" height="15" viewBox="0 0 39 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.1233 1.29906C18.1607 -0.088146 20.8393 -0.0881447 22.8767 1.29906L37.6344 11.3468C39.2617 12.4548 38.4775 15 36.5088 15H2.49122C0.522471 15 -0.26173 12.4548 1.36564 11.3468L16.1233 1.29906Z" fill="white"/>
                                </svg>
                            </div>

                            <div class="animate__animated animate__fadeIn overflow-y-auto flex flex-col mx-4 mt-4">
                                <div class="flex items-center  flex-col w-full">
                                    <figure class="bors mb-4">
                                        <div class="border-white border-3 rounded-full">
                                            <img class="empresalo" src="data:image/jpeg;base64,{{data.logo}}" alt="">
                                        </div>
                                    </figure>
                                    <br>
                                    <span class="empresa em">{{data.razonsocial}}</span>
                                    <span class="ruc">{{data.ruc}}</span>
                                    <br>
                                    <div class="space-y-3">
                                        <button (click)="loginAdmin()" type="button" class="btn btn-inactive">
                                            <svg-icon class="w-5 h-5" src="assets/img/inicio/ingreadmin.svg"> </svg-icon>
                                            <span class="ml-1">Ingresar a Admin</span>
                                        </button>

                                        <button (click)="logoutWeb()" type="button" class="btn oneline">
                                            <svg-icon class="w-5 h-5" src="assets/img/inicio/closs.svg"> </svg-icon>
                                            <span class="ml-1">Cerrar Sesión</span>
                                        </button>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
           
            <!-- LOGO MENU (Movil)-->
            <input type="checkbox" id="chk">
            <label  for="chk" class="show-menu-btn w-2/12 md:w-auto">
                <span class=" h-full flex md:justify-center justify-end items-center">
                    <span class="focus:outline-none relative">
                        <img class="object-contain  logoem rounded-full " src="data:image/jpeg;base64,{{data.logo}}" alt="">
                        <div class="absolute right-1 bottom-1 h-2 w-2  p-1 z-20 bg-azul-500 rounded-full  animate-ping"></div>
                        <div class="absolute right-1 bottom-1 h-1 w-1  p-1 z-10 bg-azul-500 border border-white rounded-full "></div>
                    </span> 
                </span>                    
            </label>
            
            <!-- CONTENIDO DEL MENU -->
            <section  class="menu w-full sm:w-4/12 lg:w-6/12  font-Poppins  text-navba  relative  lg:h-[75px]  " style="z-index: 100;" >                    
                <div class="flex lg:justify-between  lg:flex-row flex-col items-center  h-full w-full  ">
                
                    <!-- BOTON MODAL CERRAR -->
                    <label  for="chk" class="hide-menu-btn" style="z-index: 1000;">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 8.75H4.7875L11.775 1.7625L10 0L0 10L10 20L11.7625 18.2375L4.7875 11.25H20V8.75Z" fill="#979797"/>
                        </svg>
                    </label>
                    <!-- CONTENIDO -->
                    <div class="relative" >
                        <div class="absolute right-4">
                            <svg width="39" height="15" viewBox="0 0 39 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.1233 1.29906C18.1607 -0.088146 20.8393 -0.0881447 22.8767 1.29906L37.6344 11.3468C39.2617 12.4548 38.4775 15 36.5088 15H2.49122C0.522471 15 -0.26173 12.4548 1.36564 11.3468L16.1233 1.29906Z" fill="white"/>
                            </svg>
                        </div>
                        <div class="animate__animated animate__fadeIn overflow-y-auto flex flex-col mx-4 mt-4">
                            <div class="flex items-center  flex-col w-full">
                                <figure class="bors mb-4">
                                    <div class="border-white border-3 rounded-full">
                                        <img class="empresalo" src="data:image/jpeg;base64,{{data.logo}}" alt="">
                                    </div>
                                </figure>
                                <br>
                                <span class="empresa em">{{data.razonsocial}}</span>
                                <span class="ruc">{{data.ruc}}</span>
                                <br>
                                <div class="space-y-3">
                                    <button (click)="loginAdmin()" type="button" class="btn btn-inactive">
                                        <svg-icon class="w-5 h-5" src="assets/img/inicio/ingreadmin.svg"> </svg-icon>
                                        <span class="ml-1">Ingresar a Admin</span>
                                    </button>
                                    <button (click)="logoutWeb()" type="button" class="btn oneline">
                                        <svg-icon class="w-5 h-5" src="assets/img/inicio/closs.svg"> </svg-icon>
                                        <span class="ml-1">Cerrar Sesión</span>
                                    </button>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Historia Asisted - titulo-->
                    <div class="border-t-[1px] border-plomo-70 pt-6 flex w-full justify-start px-8">
                        <div class="flex gap-3 items-center">
                            <span class="h-3 w-3 bg-blue-700 rounded-md"></span>
                            <span >Historial de Asistencias </span>
                        </div>
                    </div>

                    <!-- historial vacio -->
                    <!-- <div class=" mx-7 items-center  my-3 px-8  flex  justify-center h-full w-full">
                        <div class="flex flex-col space-y-2 items-center rounded-xl h-full w-full border-plomo-200 border-1  ">
                            <div class="flex flex-col items-center justify-center h-full">
                                <img class="object-contain" src="assets/img/inicio/historialvacia.png" alt="">
                                <div class="text-plomo-220 ">Sin datos que mostrar</div>
                            </div>
                            
                        </div>
                    </div> -->

                    <!-- historial - contenido -->
                    <div class="flex justify-start w-full px-8 py-6">
                        <div class=" scroollpersonalizadotabla alturascroll ">
                            <div class="space-y-4   w-full overflow-auto  h-[50vh] "  >
                                <div class="flex items-center mt-3"  *ngFor="let item of AttendanceList" >
                                    <div class="w-6 h-6 text-plomo-140 items-center mr-2 ">
                                        <svg-icon src="assets/img/inicio/user.svg "></svg-icon>
                                    </div>
                                    <div class="flex flex-col space-y-1 items-start ">
                                        <span class=" text-azul-750 ">{{item.empleado}}</span>
                                        <span class="text-plomo-60">{{item.tipo}} {{item.fechaasistencia}} {{item.tipo == 'ENTRADA' ? item.horaasistencia : item.horasalida}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                    <!-- historial con sombre -->
                    <!-- <div class="flex justify-start w-full px-8 py-6">
                        <div class=" scroollpersonalizadotabla alturascroll ">
                            <div class="space-y-4   w-full overflow-auto  h-[50vh] "  >
                                
                                <div class="flex items-center mt-3" >
                                    <div class="w-6 h-6 text-plomo-140 items-center mr-2 ">
                                        <svg-icon src="assets/img/inicio/user.svg "></svg-icon>
                                    </div>
                                    <div class="flex flex-col   items-start ">
                                        <span class="nombrs">Jose Alberto Martinez Mendoza</span>
                                        <span class="nom-descr">Salida (09/Jul/2020  12:01 pm)</span>
                                    </div>
                                </div>

                                <div class="flex items-center mt-3 w-full" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1]" >
                                    <img class="w-full" src="assets/img/inicio/sombra.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>  -->
                    
                </div>
            </section>

        
        </div>
    </div>
</main>



<style>
    .dropdown:focus-within .dropdown-menu {
        opacity: 1;
        transform: translate(0) scale(1);
        visibility: visible;
    }
</style>
