/* Scrool Personalizado */

.scroollpersonalizadotabla {
  background: #fff;
  overflow: auto;
  border-radius: 4px;
   width: 100%;
  
}

.scroollpersonalizadotabla::-webkit-scrollbar {
  width: 100%;
}

.scroollpersonalizadotabla::-webkit-scrollbar-thumb {
  background: #2A3E4B;
  border-radius: 7px;
}

.alturascroll {
  height: auto;
}

/* Mas codigo */
.navbar {
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(72, 134, 255, 0.08);
    width: 100%;
}

.logoem {
    width: 50px;
    height: 50px;
}

.empresa {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    color: #00263E;
}

.ruc {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #7A7E81;
}

.dropdownconfiguraci {
    background: #FFFFFF;
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.11), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
    border-radius: 3px;
    width: 320px;
    top: 0.22em;
    right: 0.15em;
    position: absolute;
}

.empresalo {
    width: 60px;
    height: 60px;
    filter: drop-shadow(0px 3px 6px rgba(132, 147, 183, 0.2));
    border-radius: 100px;
}

.bors {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(38, 93, 225, 1) 100%);
    padding: 2px;
    border-radius: 100%;
    margin: 2px;
}

.em {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
}

.btn {
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 3px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    font-family: Poppins;
    width: 220px;
}

.oneline {
    background: #0D53FD;
    box-shadow: 0px 4px 10px rgba(13, 83, 253, 0.4);
    border-radius: 3px;
    color: white;
}

.btn-active {
    border: 0.7px solid #0D53FD;
    color: #0D53FD;
}

.btn-inactive {
    border: 0.7px solid #C4C4C4;
    color: #626D73;
}

.seclect {
    background: #FFFFFF;
    border: 0.7px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6px;
    line-height: 19px;
    color: #00263E;
    font-family: Poppins;
}

.btn-iniciar {
    width: 124px;
    height: 34px;
    background: #0D53FD;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.btn-cancelar {
    width: 124px;
    height: 34px;
    border: 1.6px solid#696D7C;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #696D7C;
}


 /* menu responsive */
 #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
    
  }

  .menu{
    float:right;
    z-index: 10;
  } 

  .show-menu-btn, .hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }

  .show-menu-btn{
    float: right;
  }

  .menu a:hover,
  .show-menu-btn:hover,
  .hide-menu-btn:hover{
    color: #030303;
  }



  /*-------------------------------------------------------------- pc -------------------------------------------*/
.menupc {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.6px solid #B8BCC6;
  box-sizing: border-box;
  border-radius: 3px;
  width: 40px;
  height: 40px;
}

.hide-menu-btn{
  position: absolute;
  top: 30px;
  left: 25px;
}



  /* mediaqueri de 1023px */
  @media screen and (max-width:1023px){
    .show-menu-btn, .hide-menu-btn{
      display: block;
    }

    .menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #fff;
      right: -100%;
      top:0;
      text-align: center;
      line-height: normal;
      transition: 0.7s;
      z-index: 10;
      overflow-y: auto;
      height: 100%;
    }

    .menupc {
      display: none;
      align-items: center;
      justify-content: center;
      border: 0.6px solid #B8BCC6;
      box-sizing: border-box;
      border-radius: 3px;
      width: 40px;
      height: 40px;
    }

    


    #chk:checked ~ .menu{
      right: 0;
      z-index: 10;
    }
  }

  @media (min-width: 1024px) {
    .menu{
      position: fixed;
      display: none;
      width: 100%;
      height: 100vh;
      background: #fff;
      right: -100%;
      top:0;
      text-align: center;
      padding: 80px 0;
      line-height: normal;
      transition: 0.7s;
      /* z-index: 10; */
      overflow-y: auto;
      height: 100%;
    }
  }

