<header class="flex items-center md:justify-between w-full px-4 py-4 border-b-1 border-gray-200 sm:border-white pb-5">
    <button matDialogClose class="flex sm:hidden">       
        <svg-icon class="w-5 h-5" src="assets/img/components/atr.svg"> </svg-icon>
    </button>
    <span class="perss ml-5 -mb-5 md:-ml-0 md:-mb-0">{{form.get('editar')?.value ? 'Editar' : 'Nuevo'}} Usuario</span>
    <button matDialogClose class="hidden sm:flex">
        <svg-icon class="w-5 h-5" src="assets/img/personal/close.svg"> </svg-icon>
    </button>
</header>
<main class="w-full 2xl:w-100 px-4 sm:px-10 py-4">
    <span class="text-xs font-medium  font-Poppins hidden sm:hidden">Completa los siguientes recuadros.</span>
    <ul class="flex mb-0 list-none flex-wrap pt-4 pb-4 flex-row w-full">
        <li class=" mr-2 last:mr-0 flex text-center space-x-7 sm:space-x-10">
            <a class="tabs-users cursor-pointer" (click)="tabsUsers(1)" [ngClass]="{'tabs-usersinactive': openTabUsers !== 1, 'tabs-usersactive transition duration-300  ease-in animate__animated ': openTabUsers === 1}">
                <svg-icon class="w-6 h-6" src="assets/img/components/users.svg"></svg-icon>
                <span class="ml-2">Datos Personales</span>
            </a>
            <a class="tabs-users cursor-pointer" (click)="tabsUsers(2)" [ngClass]="{'tabs-usersinactive': openTabUsers !== 2, 'tabs-usersactive transition duration-300  ease-in animate__animated ': openTabUsers === 2}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                  </svg>
                <span class="ml-2">Permisos</span>
            </a>
        </li>
    </ul>

    <!-- Datos Personales -->
    <div [ngClass]="{'hidden': openTabUsers !== 1, 'block': openTabUsers === 1}" class="animate__animated animate__fadeIn">
        <form [formGroup]='form' class="grid  grid-cols-1 sm:grid-cols-2 gap-x-3 gap-y-2 sm:gap-y-0 py-4 ">
            <div class="w-full sm:mb-1 sm:col-span-2">
                <mat-select formControlName='idempleado' placeholder="Selecciones a un Personal Operativo" class="seclect py-2 mr-2 px-2 mb-1 font-Poppins" required>
                    <mat-option *ngFor='let item of listEmployee' [value]="item.idempleado" class="option-ch">{{item.empleado}}</mat-option>
                </mat-select>
                <!-- <span class="text-red-500 text-xs italic"> Por favor rellene este campo. </span> -->
            </div>
            <span class="perws font-semibold sm:col-span-2 py-2 sm:py-0">Establecer usuario y contraseña</span>
            <!-- dni Completo -->
            <div class=" w-full  mb-2 sm:mb-1">
                <input
                  type="text"
                  class="py-2 seclect w-full "
                  placeholder="Usuario"
                  required
                  formControlName='usuario'
                >
                <span *ngIf='Usuario' class="errors"> Por favor rellene este campo. </span>
            </div>
            <!-- Primer apeleido -->
            <div class=" w-full mb-2 sm:mb-1 ">
                <input
                  type="password"
                  class="py-2 seclect w-full "
                  placeholder="Contraseña"
                  required
                  formControlName='password'
                >
                <span *ngIf='Password' class="errors"> Por favor rellene este campo. </span>
            </div>
        </form>
    </div>

    <!-- Permisos -->
    <div [ngClass]="{'hidden': openTabUsers !== 2, 'block': openTabUsers === 2}" class="animate__animated animate__fadeIn">
        <h1 class="perws font-semibold col-span-2 pt-2">Active los permisos que crea necesario.</h1>
        <form class="grid grid-cols-1 sm:grid-cols-2 items-start gap-x-3 gap-y-3 py-1">
            <label *ngFor='let item of listForm' class="pl-2 border-chechboxk py-2">
                <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]='item.estado' class="option-ch font-semibold uppercase py-1 px-3">{{item.formulario}}</mat-checkbox>
            </label>
        </form>
    </div>

    <div class="flex justify-center sm:justify-end col-span-2 space-x-3 pt-7">
        <!-- cancelar -->
        <button matDialogClose class="btn-">
            <span class="ml-1">Cancelar</span>
        </button>
        <!-- guardar -->
        <button (click)='setUser()' class="btn oneline">
            <span class="ml-1"> Guardar</span>
        </button>
    </div>
</main>
