.perss {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #1C2B39;
}

.perws {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #1C2B39;
}

.tabs-users {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12.5px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
}

.tabs-usersactive {
    color: #0D53FD;
    border-bottom: 3px solid #0D53FD;
    border-radius: 2px;
}

tabs-usersinactive {
    color: #000000;
}

.seclect {
    background: #FFFFFF;
    border: 0.7px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6px;
    line-height: 19px;
    color: #000000;
}


/* //cambiar color checkboxk */

:Host /deep/ .mat-checkbox-inner-container {
    height: 17px;
    width: 17px;
}

::ng-deep .mat-checkbox-frame {
    border: 0.5px solid #7D858E;
    box-sizing: border-box;
    border-radius: 2px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #0D53FD!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #0D53FD;
}

.border-chechboxk {
    background: #FFFFFF;
    border: 0.7px solid #c4c4c47a;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 10px;
}