<header class="flex items-center justify-between space-x-5 w-full px-5 py-4">
    <div class="flex flex-col">
        <span class="pers-title">Horario</span>
        <span class="descr">Seleccione un horario para este personal</span>
    </div>

    <button (click)="nuevoHorario()" type="button" class="btn oneline w-full pl-10">
        <span class="w-full"> + Nuevo</span>
    </button>
</header>

<form class="px-5">
    <section class=" space-y-3  py-3  overlay-scrollbar scrollbar-hover flex flex-col pl-2 overflow-auto h-64 sm:h-72">
        <mat-radio-button *ngFor="let item of listHorario" (change)='getvalue($event,item)' class="option-ch">{{item.horario}}</mat-radio-button>
    </section>
    <section class="flex justify-end space-x-3 py-3">
        <!-- reportes -->
        <button matDialogClose class="btn-">
            <span class="ml-1">Cancelar</span>
        </button>
        <!-- nuevo -->
        <button (click)="setTimeEmployee()" class="btn oneline">
            <span class="ml-1"> Guardar</span>
        </button>
    </section>
</form>
