<p class="flex items-center justify-center  font-Poppins"> 
    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59L21 7z" fill="currentColor"/></svg>
     <span class="pl-2">¡{{ message }}!</span>
 </p>

 <!-- Copiado al portapapeles -->
