<header class="flex items-center sm:justify-between w-full px-3 sm:px-9 py-3">
    <button matDialogClose class="flex sm:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
          </svg>
    </button>
    <div class="flex flex-col ml-2 sm:ml-0">
        <span class="confi">Configuración</span>
        <span class="descr">Configure los horarios a el personal operativo.</span>
    </div>
    <button matDialogClose class="hidden sm:flex">
        <svg-icon src="assets/img/personal/close.svg"> </svg-icon>
    </button>
</header>
<main class="flex flex-col px-2 sm:flex-row lg:px-5 2x:px-9 anchomodals py-3">
    <section class="w-1/3 md:border-r-1  border-gray-100">
        <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
            <li class=" mr-2 last:mr-0 flex flex-row sm:flex-col items-start space-x-6 sm:space-x-0 sm:space-y-4">
                <a class="tabs-users cursor-pointer" (click)="tabsUsers(1)" [ngClass]="{'tabs-usersinactive': openTabUsers !== 1, 'tabs-usersactive transition duration-300  ease-in': openTabUsers === 1}">
                    <span [ngClass]="{'bg-gray-50': openTabUsers !== 1, 'bg-blue-100': openTabUsers === 1}" class="p-1  rounded-md">
                    <svg class=" w-5 sm:w-7 h-5 sm:h-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256"><path d="M208 34H48a14.016 14.016 0 0 0-14 14v160a14.016 14.016 0 0 0 14 14h150.193l.017.001l.027-.001H208a14.016 14.016 0 0 0 14-14V48a14.016 14.016 0 0 0-14-14zM94 120a34 34 0 1 1 34 34a34.039 34.039 0 0 1-34-34zm-28.23 90a66.408 66.408 0 0 1 20.773-29.358a66.01 66.01 0 0 1 82.914 0A66.408 66.408 0 0 1 190.23 210zM210 208a2.002 2.002 0 0 1-2 2h-5.168a77.856 77.856 0 0 0-49.377-51.709a46 46 0 1 0-50.91 0A77.856 77.856 0 0 0 53.168 210H48a2.002 2.002 0 0 1-2-2V48a2.002 2.002 0 0 1 2-2h160a2.002 2.002 0 0 1 2 2z" fill="currentColor"/></svg>
                 </span>
                    <span class=" sm:ml-2">Cargos</span>
                </a>
                <a class="tabs-users cursor-pointer" (click)="tabsUsers(2)" [ngClass]="{'tabs-usersinactive': openTabUsers !== 2, 'tabs-usersactive transition duration-300  ease-in': openTabUsers === 2}">
                    <span [ngClass]="{'bg-gray-50': openTabUsers !== 2, 'bg-blue-100': openTabUsers === 2}" class="p-1  rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 sm:w-6 h-5 sm:h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </span>

                    <span class="  sm:ml-2">Horarios</span>
                </a>
                <a class="tabs-users cursor-pointer" (click)="tabsUsers(3)" [ngClass]="{'tabs-usersinactive': openTabUsers !== 3, 'tabs-usersactive transition duration-300  ease-in': openTabUsers === 3}">
                    <span [ngClass]="{'bg-gray-50': openTabUsers !== 3, 'bg-blue-100': openTabUsers === 3}" class="p-1  rounded-md">
                    <svg class="w-5 sm:w-6 h-5 sm:h-6" viewBox="0 0 19 18" fill="CurrentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.7755 13.1796C16.8409 12.612 15.7017 12.7642 14.9342 13.4749L13.7687 12.7665V9.2663C13.7687 8.90405 13.584 8.56718 13.2849 8.3872L10.2941 6.58055V5.03232C11.2661 4.68622 11.9654 3.72175 11.9654 2.58423C11.9654 1.15598 10.8637 0 9.50245 0C8.14121 0 7.03946 1.15598 7.03946 2.58423C7.03946 3.72175 7.73877 4.68622 8.71078 5.03232V6.58055L5.72 8.3872C5.42092 8.56718 5.2362 8.90405 5.2362 9.2663V12.7642L4.07067 13.4726C3.30319 12.7619 2.16185 12.6096 1.22943 13.1773C0.0529159 13.8925 -0.34732 15.4708 0.327804 16.7052C1.00513 17.9396 2.50271 18.3642 3.67483 17.6512C4.60945 17.0836 5.05367 15.9668 4.85355 14.9101L5.92451 14.2571L9.01645 16.126C9.16599 16.216 9.33312 16.2622 9.50025 16.2622C9.66738 16.2622 9.83452 16.216 9.98405 16.126L13.0738 14.2594L14.1448 14.9124C13.9446 15.9668 14.3911 17.0859 15.3235 17.6535C16.4956 18.3665 17.9954 17.9442 18.6705 16.7075C19.3478 15.4708 18.9476 13.8925 17.7755 13.1796ZM2.97552 16.3729C2.85608 16.4455 2.72413 16.4926 2.58727 16.5115C2.45041 16.5303 2.31135 16.5206 2.17809 16.4829C2.04483 16.4451 1.91999 16.3801 1.81078 16.2915C1.70156 16.203 1.61012 16.0926 1.54171 15.9668C1.25143 15.4385 1.42296 14.7601 1.92655 14.4555C2.046 14.3829 2.17794 14.3359 2.3148 14.317C2.45166 14.2981 2.59072 14.3078 2.72398 14.3456C2.85725 14.3833 2.98208 14.4483 3.09129 14.5369C3.20051 14.6255 3.29196 14.7358 3.36036 14.8616C3.65064 15.39 3.47912 16.0684 2.97552 16.3729ZM8.44468 2.58423C8.45032 2.29441 8.56401 2.01845 8.76136 1.81558C8.9587 1.61271 9.22397 1.49908 9.50025 1.49908C9.77653 1.49908 10.0418 1.61271 10.2392 1.81558C10.4365 2.01845 10.5502 2.29441 10.5558 2.58423C10.5502 2.87405 10.4365 3.15 10.2392 3.35287C10.0418 3.55575 9.77653 3.66938 9.50025 3.66938C9.22397 3.66938 8.9587 3.55575 8.76136 3.35287C8.56401 3.15 8.45032 2.87405 8.44468 2.58423ZM12.1832 12.8796L9.50025 14.5017L6.81735 12.8796V9.64009L9.50025 8.01803L12.1832 9.64009V12.8796ZM17.4588 15.9691C17.1685 16.4975 16.5264 16.6798 16.025 16.3752C15.5236 16.0707 15.3499 15.3923 15.6401 14.8639C15.9304 14.3355 16.5726 14.1533 17.074 14.4578C17.5776 14.7624 17.7491 15.4385 17.4588 15.9691Z" />
                    </svg>
                </span>
                    <span class="sm:ml-2 whitespace-nowrap">Cod. Acceso</span>
                </a>
            </li>
        </ul>
    </section>


    <!-- 1 Cargos -->
    <section class="w-full sm:w-3/4 animate__animated animate__fadeIn" [ngClass]="{'hidden': openTabUsers !== 1, 'block': openTabUsers === 1}">
        <div class="py-4 px-5 w-full">
            <section *ngIf="!agregarNuevoCargo">
                <div class=" flex w-full items-center justify-center sm:justify-between">
                    <div class="hidden sm:flex">
                        <span class="operat font-medium  uppercase whitespace-nowrap">Listado de cargos</span>
                    </div>
                    <!-- nuevo -->
                    <div class="hidden md:flex">
                        <button (click)="ActionsRol('nuevo',0)" class="btn oneline">
                            <span class="ml-1"> <span class="font-semibold text-base">+</span> Nuevo</span>
                        </button>   
                    </div>                                   
                    <div class="fixed bottom-5 right-2 flex md:hidden">
                        <button mat-fab   (click)="ActionsRol('nuevo',0)" style="background: #0044EA !important;" >
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="example-container w-full overlay-scrollbar scrollbar-hover overscroll-x-auto">
                    <table mat-table [dataSource]="dataSourceRol" class="font-Poppins w-full">
                        <!-- Usuario -->                        
                        <ng-container *ngFor='let col of columnsRol' matColumnDef="{{col.title}}">
                            <th mat-header-cell *matHeaderCellDef class="font-semibold">{{ col.title.toUpperCase().includes("ID") ? '' : col.title.toUpperCase()}}</th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf='element[col.title] != "acciones"' class="flex items-start flex-col w-full">
                                    <span class="card-director w-full">{{col.title.toUpperCase().includes("ID") ? '' :  element[col.title] }}</span>
                                </div>

                                <div *ngIf='element[col.title] == "acciones"' class="flex  space-x-6  w-full">
                                    <!-- editar  agregarNuevoCargo = !agregarNuevoCargo-->
                                    <button (click)="ActionsRol('editar',element['idcargo'])" class="p-2 hover:bg-gray-100 rounded-md">
                                        <svg-icon src="assets/img/personal/edit.svg"></svg-icon>
                                    </button>
                                    <!-- Eliminar -->
                                    <button (click)="ActionsRol('eliminar',element['idcargo'])" class="p-2 hover:bg-gray-100 rounded-md">
                                        <svg-icon src="assets/img/personal/delete.svg"></svg-icon>
                                    </button>
                                </div>

                            </td>
                        </ng-container>
                     
                        <tr class="sticky top-0 z-20 border-b-1 border-gray-700 w-full" mat-header-row *matHeaderRowDef="displayedColumnsRol"></tr>
                        <tr mat-row class="w-full " *matRowDef="let row; columns: displayedColumnsRol;"></tr>
                    </table>
                </div>
                <!-- <mat-paginator #pagCargo class="font-Poppins" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons> </mat-paginator> -->
            </section>

            <!-- Agregar Nuevo cargo -->
            <section *ngIf="agregarNuevoCargo" class="animate__animated animate__fadeIn">
                <button (click)="agregarNuevoCargo = !agregarNuevoCargo" class="btn-atras py-3">
                     <svg-icon src="assets/img/components/atras.svg"></svg-icon>
                     <span class="ml-2">agregar un nuevo cargo</span>
                </button>

                <form [formGroup]='formRol' (ngSubmit)='CrudRol()' class="py-5">
                    <!-- dni Completo -->
                    <div class="w-full sm:mb-1">
                        <input
                            type="text"
                            class="py-2 seclect w-full mb-1"
                            placeholder="Escribir"
                            required
                            formControlName='cargo'
                        >
                        <span *ngIf='Cargo' class="errors"> Por favor rellene este campo. </span>
                    </div>

                    <div class="flex justify-center sm:justify-end space-x-2 sm:space-x-3 py-3">
                        <!-- cancelar -->
                        <button (click)="agregarNuevoCargo = !agregarNuevoCargo" class="btn-">
                            <span class="ml-1">Cancelar</span>
                        </button>
                        <!-- guardar -->
                        <button type="submit" class="btn oneline">
                            <span class="ml-1"> Guardar</span>
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </section>

    <!-- 2 Horarios -->
    <section class="w-full sm:w-3/4 animate__animated animate__fadeIn" [ngClass]="{'hidden': openTabUsers !== 2, 'block': openTabUsers === 2}">
        <div class="py-4 sm:px-5 w-full">
            <div class=" flex w-full items-center justify-center sm:justify-between">
                <div class="hidden sm:flex">
                    <span class="operat font-medium  uppercase whitespace-nowrap">Listado de horarios establecidos</span>
                </div>

                <!-- nuevo -->
                <div class= " hidden md:flex">
                    <button (click)="nuevoHorario(false)" class="btn oneline">
                        <span class="ml-1"> <span class="font-semibold text-base">+</span> Nuevo</span>
                    </button>
                </div>
               
                <div class="fixed bottom-5 right-2 flex md:hidden">
                    <button mat-fab  (click)="nuevoHorario(false)" style="background: #0044EA !important;" >
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            <div class="example-container w-full overlay-scrollbar scrollbar-hover overscroll-x-auto">
                <table mat-table [dataSource]="datasourceTimeTable" class="font-Poppins w-full ">
                    <!-- Usuario -->
                    <ng-container matColumnDef="Horario" class="w-full">
                        <th mat-header-cell *matHeaderCellDef class="font-semibold w-full">Horario</th>
                        <td mat-cell *matCellDef="let element" class="w-full">
                            <div class="flex items-start flex-col">
                                <span class="card-director">{{ element.horario }}</span>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Acciones-->
                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef class="font-semibold w-full"> Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex space-x-4 sm:space-x-6">
                                <!-- editar -->
                                <button (click)="nuevoHorario(true, element)" type="button" class="p-2 hover:bg-gray-100 rounded-md">
                                    <svg-icon src="assets/img/personal/edit.svg"></svg-icon>
                                </button>
                                <!-- Eliminar -->
                                <button (click)="showdelete(element)" type="button" class="p-2 hover:bg-gray-100 rounded-md">
                                    <svg-icon src="assets/img/personal/delete.svg"></svg-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr class="sticky top-0 z-20 border-b-1 border-gray-700" mat-header-row *matHeaderRowDef="horarioColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: horarioColumns;"></tr>
                </table>
            </div>
            <!-- <mat-paginator #pagHorario class="font-Poppins" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons> </mat-paginator> -->
        </div>
    </section>

    <!-- 3 Cod. Acceso -->
    <section class="w-full sm:w-3/4 animate__animated animate__fadeIn" [ngClass]="{'hidden': openTabUsers !== 3, 'block': openTabUsers === 3}">
        <main class="py-4 sm:px-5">
            <h1 class="operat font-medium  uppercase whitespace-nowrap">codigo de acceso</h1>
            <section class=" grid grid-cols-1 sm:grid-cols-2 py-4">
                <span class="codi-desc">El siguiente codigo es parte de la seguridad en la identificacion de la empresa, se recomienda que solo sea visto por personal administrativo.</span>
                <div class="flex items-center justify-center" style="background-image: url('assets/img/components/cod-.svg');">
                    <span class="pcodigo">{{data.codigoacceso}}</span>
                </div>
            </section>

            <div class="flex justify-end items-end">
                <!-- (click)="openSnackBar()" -->
                <button (click)="Copy()" cdkCopyToClipboard='{{data.codigoacceso}}' class="btn-copy">
                    <svg-icon src="assets/img/components/copy.svg"></svg-icon>
                    <span class=" ml-2">Copiar</span>
                </button>
            </div>
        </main>
    </section>
</main>

