.confi {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    color: #4f4e4e;
}

.descr {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #707581;
}

.tabs-usersactive {
    color: #0d53fd;
    border-bottom: 3px solid #0d53fd;
    border-radius: 2px;
}

tabs-usersinactive {
    color: #000000;
}

.operat {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #99a0b0;
}

.seclect {
    background: #ffffff;
    border: 0.7px solid #d3d3d3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6px;
    line-height: 19px;
    color: #000000;
}

.btn-atras {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #99A0B0;
}

.pcodigo {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    color: #13385D;
    justify-content: center;
}

.codi-desc {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #6F6F6F;
}

.btn-copy {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #696D7C;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 14px;
    width: 133.5px;
    height: 32px;
    background: #FFFFFF;
    border: 0.8px solid #696D7C;
    box-sizing: border-box;
    border-radius: 3px;
    justify-content: center;
}

.btn-copy:hover {
    background: #b1b1b11c;
    border: 0.8px solid #696D7C;
}

.demo-table {
    width: 100%;
}

.mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
}

.mat-column-demo-weight {
    font-style: italic;
}

.mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
}

.tabs-users {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12.5px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
}


/* @media only screen and (min-width: 320px) {
    .tabs-users {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 375px) {
    .tabs-users {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) {
    .tabs-users {
        display: flex;
    }
} */

.anchomodals {
    width: 80%;
    height: 50vh;
}

@media only screen and (min-width: 320px) {
    .anchomodals {
        width: 100%;
        height: 100vh;
    }
}

@media only screen and (min-width: 375px) {
    .anchomodals {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    .anchomodals {
        width: 95vh;
        height: 60vh;
    }
}

@media only screen and (min-width: 1440px) {
    .anchomodals {
        width: 90vh;
        height: 60vh;
    }
}


.overlay-scrollbar::-webkit-scrollbar {
    width: 6px;
    height:6px;
}

.scrollbar-hover::-webkit-scrollbar {
    display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2A3E4B;
    border-radius: 10rem;
    /* border: 1px solid#E7EFF3; */
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: #E7EFF3;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: #E7EFF3;
    border-radius: 10rem;
}