.dle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #5B5B5B;
}

.subdle {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
}

.btn- {
    background: #FFFFFF;
    border: 0.7px solid #B6BBC8;
    box-sizing: border-box;
    border-radius: 3px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    font-family: Poppins;
    color: #626D73;
    width: 130px;
}

.btn {
    border: 0.7px solid #0D53FD;
    box-sizing: border-box;
    border-radius: 3px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    font-family: Poppins;
    width: 130px;
}

.btn-:hover {
    border: 0.7px solid #0D53FD;
    box-shadow: 0px 4px 10px rgba(13, 83, 253, 0.4);
    border-radius: 3px;
    color: #0D53FD;
}

.oneline {
    background: #0D53FD;
    box-shadow: 0px 4px 10px rgba(13, 83, 253, 0.4);
    border-radius: 3px;
    color: white;
}

.btn:hover {
    border: 0.7px solid #0c49e234;
    box-shadow: 0px 4px 10px rgba(13, 81, 253, 0.192);
    border-radius: 3px;
    color: white;
}