<!-- <div class="flex items-end justify-end px-2 py-2">
    <button mat-dialog-close>
        <svg-icon src="assets/img/personal/close.svg"> </svg-icon>
    </button>
</div> -->

<div class="px-4 py-3">
    <div class="fle flex-col flex items-center justify-center">
        <img  src="assets/img/components/delete.png" alt="">
        <span class="dle">¿{{ data.headboardMessage }}?</span>
        <span class="subdle">{{ data.bodyMessage }}</span>
    </div>
    <section class="flex justify-center items-center space-x-3 ">
        <!-- cancelar -->
        <button mat-dialog-close type="button" class="btn-">           
            <span class="ml-1">Cancelar</span>
        </button>
        <!-- guardar -->
        <button (click)="continuar()" type="button" class="btn oneline">
            <span class="ml-1"> OK </span>
        </button>
    </section>
</div>
