@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Manrope&family=Poppins:wght@600&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}



body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.msg-bienvenido {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /* or 162% */
    display: flex;
    align-items: flex-end;
    color: #13385D;
}

.ingresarsescion {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.ir-inova {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #0D53FD;
    background: #F5F6FA;
    border: 1.98px solid #0D53FD;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
}

.mat-snack-bar-container {
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin: 10px;
    max-width: 33vw;
    min-width: 344px;
    padding: 5px 5px;
    min-height: 18px;
    transform-origin: center;
}

.mat-snack-bar-container {
    color: rgba(255, 255, 255, .7);
    background: #0d53fd;
    border-radius: 3px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}


/* Border para error de un input */

.error {
    box-shadow: 0 0 3px #d45252 !important;
    border-color: #e74c3c !important;
    color: #e74c3c !important;
}

.error:focus {
    box-shadow: 0 0 3px #d45252 !important;
    border-color: #e74c3c !important;
    color: #e74c3c !important;
}


/* Border para exito de un input */

.success {
    box-shadow: 0 0 3px #18A84C !important;
    border-color: #18A84C !important;
}

.success:focus {
    box-shadow: 0 0 3px #18A84C !important;
    border-color: #18A84C !important;
}


/*------------------------------------------------------- imputs y texttarea de color de la empresa */

textarea:focus,
textarea[type]:focus,
input:focus,
input[type]:focus {
    border-color: #0D53FD;
    box-shadow: 0 0.5px 1px rgba(229, 103, 23, 0.075) inset, 0 0 3px rgba(31, 102, 255, 0.973);
    outline: 0 none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/* Eliminar el spiket de los tipos number */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Scrool Personalizado */
.scroollpersonalizadotabla {
    background: #fff;
    overflow: auto;
    border-radius: 4px;
}

.scroollpersonalizadotabla::-webkit-scrollbar {
    width: 8px;
}

.scroollpersonalizadotabla::-webkit-scrollbar-thumb {
    background: #E1E1E1;
    border-radius: 7px;
}


/* Quitar Margen a los Modales de Angular Material */
.mat-dialog-container {
    display: block;
    padding: 0% !important;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}


/* Altura scroll */
.alturascroll {
    height: 35rem;
}


/* Altura inicioweb */

 .alturainicioweb {
    height: 100vh;
}


/* Altura de login responsive */

 .alturalogin {
    height: 34rem;
}




@media all and (min-height: 552px) {
    .alturalogin {
        height: 35rem;
    }
     /* .alturainicioweb {
        height: 60rem;
    } */
}


@media all and (min-height: 568px) {
    .alturalogin {
        height: 35rem;
    }
     .alturainicioweb {
        height: 45rem;
    }
}

/*---------------------------------------- LIMITE PRE : MOTO G4 - GALAXY S5*/
@media all and (min-height: 634px) {

     /* .alturainicioweb {
        height: 60rem;

     } */
    }
/*------------------------------------------ MOTO G4 - GALAXY S5 ------------------------------------------*/
@media all and (min-height: 641px) {
    .alturalogin {
        height: 36rem;
    }
    /* .alturainicioweb {
        height: 40rem;
    } */
}

/*--------------------------------------- LIMITE POST: MOTO G4 - GALAXY S5*/
@media all and (min-height: 645px) {

    /* .alturainicioweb {
        height: 60rem;
    } */
}

/* LIMITE PRE : MOTO G4 - GALAXY S5 */
@media all and (min-height: 640px) {

    /* .alturainicioweb {
        height: 100vh;
    } */
}


/* LIMITE POST : PIXEL*/
@media all and (min-height: 729px) {
    .alturalogin {
        height: 36rem;
    }
    /* .alturainicioweb {
        height: 60rem;
    } */
}

/* PIXEL */
@media all and (min-height: 730px) {
    .alturalogin {
        height: 36rem;
    }
    /* .alturainicioweb {
        height: 42rem;
    } */
}

/* PIXEL */
@media all and (min-height: 731px) {
    .alturalogin {
        height: 36rem;
    }
    /* .alturainicioweb {
        height: 100vh;
    } */
}

@media all and (min-height: 759px) {
    .alturalogin {
        height: 36rem;
    }
    .alturainicioweb {
      height: 100vh;
    }
}
@media all and (min-height: 812px) {
    .alturalogin {
        height: 40rem;
    }
    .alturainicioweb {
      height: 100vh;
    }
}

@media all and (min-height: 820px) {
    .alturalogin {
        height: 41rem;
    }
    /* .alturainicioweb {

        height: 100vh;
    } */
}


@media all and (min-height: 849px) {
    .alturalogin {
        height: 41rem;
    }
    /* .alturainicioweb {
      height: 100vh;
    } */
}


@media all and (min-height: 884px) {
    .alturalogin {
        height: 43rem;
    }
    /* .alturainicioweb {
      height: 100vh;
    } */
}

@media all and (min-height: 889px) {
    .alturalogin {
        height: 45rem;
    }
    .alturascroll {
        height: 39rem;
    }
    /* .alturainicioweb {
      height: 100vh;
    } */
}

/* PC ACTUAL:OFICINA */
@media all and (min-height: 935px) {
    .alturalogin {
        height: 45rem;
    }
    .alturascroll {
        height: 39rem;
    }
    /* .alturainicioweb {
      height: 100vh;
    } */
}

@media all and (min-height: 976px) {
    .alturalogin {
        height: 47rem;
    }
    /* .alturainicioweb {
      height: 100vh;
    } */
}

@media all and (min-height: 1020px) {
    .alturalogin {
        height: 48rem;
    }
    /* .alturainicioweb {
      height: 100vh;
    } */
}

@media all and (min-height: 1020px) {
    .alturalogin {
        height: 49rem;
    }
    /* .alturainicioweb {
      height: 100vh;
    } */
}

@media all and (min-height: 1080px) {
    .alturalogin {
        height: 54rem;
    }
    /* .alturainicioweb {
      height: 100vh;
    } */
    .alturascroll {
        height: 47rem;
    }
}

@media all and (min-height: 1106px) {
    .alturalogin {
        height: 70rem;
    }
}

@media all and (min-height: 1210px) {
    .alturalogin {
        height: 70rem;
    }
    /* .alturainicioweb {
      height: 100vh;
    } */
}

@media all and (min-height: 1330px) {
    .alturalogin {
        height: 73.4rem;
    }
    /* .alturainicioweb {
        height: 81rem;
    } */
}

@media all and (min-height: 1469px) {
    .alturalogin {
        height: 80rem;
    }
}

@media all and (min-height: 1603px) {
    .alturalogin {
        height: 100rem;
    }
}

@media all and (min-height: 1947px) {
    .alturalogin {
        height: 110rem;
    }
}

@media all and (min-height: 2085px) {
    .alturalogin {
        height: 120rem;
    }
}

@media all and (min-height: 2269px) {
    .alturalogin {
        height: 130rem;
    }
}

.mat-calendar-body-selected {
    background-color: #0D53FD;
    color: #fff;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    border-color: #0D53FD;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: #0D53FD;
    color: white;
}


/* formualrio */

.seclect {
    background: #FFFFFF;
    border: 0.7px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6px;
    line-height: 19px;
    color: #4A4A4A;
}

.labels {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}

.required {
    font-family: Poppins;
    font-style: italic;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #ca2323;
}


.btn-deletes {
    width: 35px;
    height: 35px;
    background:  rgba(247, 76, 88, 0.207);
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
    color: #F74C57;

}
/* //gestion de usuarios */

.pers {
    background: #0D53FD;
    box-shadow: 0px 4px 10px rgba(13, 83, 253, 0.4);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.pers-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    color: #4F4E4E;
}

.operat {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #212731;
}

.btn- {
    background: #FFFFFF;
    border: 0.7px solid #B6BBC8;
    box-sizing: border-box;
    border-radius: 3px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    font-family: Poppins;
    color: #626D73;
    width: 130px;
}

.btn {
    border: 0.7px solid #0D53FD;
    box-sizing: border-box;
    border-radius: 3px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    font-family: Poppins;
    width: 130px;
}

.btn-:hover {
    border: 0.7px solid #0D53FD;
    box-shadow: 0px 4px 10px rgba(13, 83, 253, 0.4);
    border-radius: 3px;
    color: #0D53FD;
}

.oneline {
    background: #0D53FD;
    box-shadow: 0px 4px 10px rgba(13, 83, 253, 0.4);
    border-radius: 3px;
    color: white;
}

.btn:hover {
    border: 0.7px solid #0c49e234;
    box-shadow: 0px 4px 10px rgba(13, 81, 253, 0.192);
    border-radius: 3px;
    color: white;
}

.btn-fil {
    box-sizing: border-box;
    border-radius: 3px;
    color: #B6BBC8;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-fil:hover {
    color: #0D53FD;
}

.btn-fil:focus {
    color: #0D53FD;
}


/* // tabas */

.tabs {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tabs-active {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: #0D53FD;
    box-shadow: 0px 3px 6px rgba(132, 147, 183, 0.4);
    border-radius: 0px 3px 3px 0px;
    transition-duration: 3s;
    transition-property: background-color;
}

.inactive {
    border: 1px solid #DADDE6;
    border-radius: 0px 3px 3px 0px;
    color: #B6BBC8;
}

.inactive1 {
    border: 1px solid #DADDE6;
    border-radius: 3px 0px 0px 3px;
    color: #B6BBC8;
}

.filtrass {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #8A92A5;
}

.cargo {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}

.filtrar {
    width: 289px;
}

.option-ch {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #485155;
}

.horario {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}

.selec {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    align-items: center;
    justify-content: center;
}

.quitar {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FF4169;
}

.aplicar {
    width: 110px;
    height: 35px;
    border: 2px solid #0D53FD;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #0D53FD;
}

.figur {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.figurs {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
}

.colrs {
    background: #CFF1F0;
    border-radius: 10px;
}

.colrss {
    background: #CFF1F0;
    border-radius: 100%;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(111, 122, 151, 0.22);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px 10px;
    padding: 20px 0px;
}

.card-pl {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0EB9A9;
}

.card-pls {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0EB9A9;
}

.card-nombre {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #1C1E33;
}

.card-profesion {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7B7D8A;
}

.card-btn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-horario {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #8D929E;
}

::ng-deep .mat-ink-bar {
    background-color: #219AF2 !important;
    padding: 2px;
    border-radius: 80px !important;
}

.example-tab-icon {
    margin-right: 8px;
}

table {
    width: 100%;
}

.example-table-container {
    position: relative;
    max-height: 30vh;
    overflow: auto;
    padding: 0 10px;
}

.example-container {
    max-height: 70vh;
    overflow-y: auto;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 0 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

th.mat-header-cell[_ngcontent-gfx-c127],
td.mat-cell[_ngcontent-gfx-c127],
td.mat-footer-cell[_ngcontent-gfx-c127] {
    padding: 0 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: .77rem;
    font-family: poppis;
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-color: white;
    font-size: .82rem;
    color: #575757;
}

.text {
    font-size: .77rem;
}

.nombsa {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #485155;
}

.overlay-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scrollbar-hover::-webkit-scrollbar {
    display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2A3E4B;
    border-radius: 10rem;
    /* border: 1px solid#E7EFF3; */
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: #E7EFF3;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: #E7EFF3;
    border-radius: 10rem;
}

.card-director {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #00263E;
}


/* resposive movil */

.card-dni {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00263E;
    width: 200px;
    height: 40px;
    border: 1px solid #E5E9EB;
    box-sizing: border-box;
    border-radius: 8px;
}

@media all and (min-height: 375px) {
    .card-dni {
        width: 100%;
        border-radius: 0px;
    }
}

@media all and (min-height: 425px) {
    .card-dni {
        width: 200px;
        height: 40px;
        border: 1px solid #E5E9EB;
        box-sizing: border-box;
        border-radius: 8px;
    }
}


.errors{
     font-size: 11.5px;
     color: red;
     font-family: Poppins;
     font-weight: 500;
}


/* modals full scraem */



  @media screen and (max-width:425px){
    .full-screen-modal  {
        max-Width: 100vw !important;
        max-Height: 100vh!important;
        height: 100% !important;
        width: 100% !important;
      }
  }



  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #0D53FD;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #0D53FD;
  }
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#0D53FD;
  }
